n8n/workflows/01-Pipeline-MQTT-Principal.json
{
  "id": "wf01",
  "name": "Energía-Monitor-Pro-v2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        500
      ],
      "id": "telegram-trigger-id",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "Qlo9IQDj5YNDrkha",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sanitizar y extraer datos del mensaje de Telegram\nconst item = $input.first().json;\nconst msg = item.message;\nconst cb  = item.callback_query;\n\nconst text     = msg?.text || cb?.data || '';\nconst chat_id  = msg?.chat?.id || cb?.message?.chat?.id || cb?.from?.id;\nconst username = msg?.from?.username || cb?.from?.username || 'usuario';\nconst first    = msg?.from?.first_name || cb?.from?.first_name || 'Usuario';\n\nreturn [{ json: {\n  raw: item,\n  text,\n  chat_id,\n  username,\n  first_name: first,\n  is_callback: !!cb,\n  callback_id: cb?.id || null,\n  message_id: msg?.message_id || cb?.message?.message_id || null,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        500
      ],
      "id": "normalize-input-id",
      "name": "Normalizar Input"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "get_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c3",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "get_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Estado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "get_anomalias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Anomalias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c5",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "get_prediccion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prediccion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c6",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/ai",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI_Chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c7",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "get_exportar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Exportar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c8",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "restore_|cut_|feedback_",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Accion_Operativa"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -150,
        500
      ],
      "id": "router-id",
      "name": "Router Principal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Normalizar Input').first().json.chat_id }}"
            },
            {
              "name": "text",
              "value": "=🏛️ <b>CENTRO DE CONTROL ENERGÉTICO</b>\n━━━━━━━━━━━━━━━━━━━━\n👋 Hola, <b>{{ $('Normalizar Input').first().json.first_name }}</b>!\n\n🕒 <i>{{ new Date().toLocaleString('es-ES', {timeZone:'America/Lima'}) }}</i>\n\nSelecciona una opción del panel de control:"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [ [{text:'📊 Reporte 24h', callback_data:'get_report'}, {text:'⚡ Estado en Vivo', callback_data:'get_status'}], [{text:'🚨 Anomalías Recientes', callback_data:'get_anomalias'}, {text:'🔮 Predicción IA', callback_data:'get_prediccion'}], [{text:'📁 Exportar CSV', callback_data:'get_exportar'}, {text:'🤖 Consultar IA', callback_data:'/ai Dame un resumen'}] ] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        100,
        200
      ],
      "id": "send-menu-id",
      "name": "Enviar Menú Principal"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  area,\n  ROUND(SUM(reading)::numeric, 2)                          AS total_kwh,\n  ROUND(AVG(reading)::numeric, 2)                          AS promedio_kwh,\n  ROUND(MAX(reading)::numeric, 2)                          AS pico_kwh,\n  ROUND(MIN(reading)::numeric, 2)                          AS minimo_kwh,\n  COUNT(*)                                                  AS lecturas,\n  MAX(severity)                                             AS estado_max\nFROM energy_history\nWHERE timestamp >= NOW() - INTERVAL '24 hours'\nGROUP BY area\nORDER BY total_kwh DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        100,
        380
      ],
      "id": "get-report-id",
      "name": "Obtener Reporte 24h",
      "credentials": {
        "postgres": {
          "id": "I7MdTzT2OpsQLA7O",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst totalGlobal = rows.reduce((s, r) => s + Number(r.total_kwh), 0);\nconst costoEstimado = (totalGlobal * 0.18).toFixed(2);\nconst co2Estimado = (totalGlobal * 0.233).toFixed(2);\n\nconst severityIcon = { Normal: '✅', Warning: '⚠️', Critical: '🚨' };\n\nlet msg = `📊 <b>REPORTE ENERGÉTICO — ÚLTIMAS 24H</b>\\n━━━━━━━━━━━━━━━━━━━━\\n`;\nmsg += `🕒 <i>${new Date().toLocaleString('es-ES', {timeZone:'America/Lima'})}</i>\\n\\n`;\n\nrows.forEach(r => {\n  const icon = severityIcon[r.estado_max] || '⚪';\n  msg += `${icon} <b>${r.area}</b>\\n`;\n  msg += `   ⚡ Total: <b>${r.total_kwh} kWh</b>\\n`;\n  msg += `   📈 Pico: ${r.pico_kwh} | Promedio: ${r.promedio_kwh} kWh\\n`;\n  msg += `   📉 Mínimo: ${r.minimo_kwh} kWh (${r.lecturas} lecturas)\\n\\n`;\n});\n\nmsg += `━━━━━━━━━━━━━━━━━━━━\\n`;\nmsg += `🏭 <b>RESUMEN GLOBAL</b>\\n`;\nmsg += `⚡ Total: <b>${totalGlobal.toFixed(2)} kWh</b>\\n`;\nmsg += `💰 Costo estimado: <b>S/. ${costoEstimado}</b>\\n`;\nmsg += `🌱 CO₂ emitido: <b>${co2Estimado} kg</b>\\n\\n`;\nmsg += `🤖 <i>Sistema de Monitoreo Inteligente v2</i>`;\n\nreturn [{ json: { text: msg, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        380
      ],
      "id": "format-report-id",
      "name": "Formatear Reporte"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'⬅️ Volver al Menú', callback_data:'/start'}, {text:'🔄 Actualizar', callback_data:'get_report'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        380
      ],
      "id": "send-report-id",
      "name": "Enviar Reporte"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  e.area,\n  e.reading                                          AS actual,\n  e.ema                                              AS promedio,\n  e.severity                                         AS estado,\n  ROUND(((e.reading - e.ema) / NULLIF(e.ema,0) * 100)::numeric, 1) AS desviacion_pct,\n  to_char(e.timestamp, 'HH24:MI:SS')                 AS hora,\n  (SELECT COUNT(*) FROM anomalias a\n   WHERE a.area = e.area\n     AND a.timestamp >= NOW() - INTERVAL '1 hour')   AS alertas_1h\nFROM energy_history e\nWHERE (e.area, e.timestamp) IN (\n    SELECT area, MAX(timestamp)\n    FROM energy_history GROUP BY area\n)\nORDER BY ABS((e.reading - e.ema) / NULLIF(e.ema,0)) DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        100,
        560
      ],
      "id": "get-status-id",
      "name": "Obtener Status Áreas",
      "credentials": {
        "postgres": {
          "id": "I7MdTzT2OpsQLA7O",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst sIcon = { Normal: '\u2705', Warning: '\u26a0\ufe0f', Critical: '\ud83d\udea8' };\nconst barChar = (pct) => {\n  const p = Math.min(Math.max(pct, 0), 100);\n  const filled = Math.round(p / 10);\n  return '\u2588'.repeat(filled) + '\u2591'.repeat(10 - filled) + ` ${p.toFixed(0)}%`;\n};\n\nlet msg = `\u26a1 <b>ESTADO EN TIEMPO REAL</b>\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\nmsg += `\ud83d\udd52 <i>${new Date().toLocaleString('es-ES', {timeZone:'America/Lima'})}</i>\\n\\n`;\n\nrows.forEach(r => {\n  const icon = sIcon[r.estado] || '\u26aa';\n  const dev = Number(r.desviacion_pct) || 0;\n  const devStr = dev >= 0 ? `+${dev}%` : `${dev}%`;\n  const alertBadge = r.alertas_1h > 0 ? ` \ud83d\udd14(${r.alertas_1h})` : '';\n  const actualNum = Number(r.actual) || 0;\n  const promedioNum = Number(r.promedio) || 0;\n  msg += `${icon} <b>${r.area}</b>${alertBadge}\\n`;\n  msg += `   \u26a1 ${actualNum.toFixed(2)} kWh @ ${r.hora}\\n`;\n  msg += `   \ud83d\udcca ${barChar(Math.abs(dev))}\\n`;\n  msg += `   \ud83d\udcc8 EMA: ${promedioNum.toFixed(2)} kWh | \u0394 <b>${devStr}</b>\\n\\n`;\n});\n\nmsg += `\ud83e\udd16 <i>Actualizaci\u00f3n autom\u00e1tica cada 30s</i>`;\n\nreturn [{ json: { text: msg, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        560
      ],
      "id": "format-status-id",
      "name": "Formatear Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'🔄 Actualizar', callback_data:'get_status'}, {text:'⬅️ Menú', callback_data:'/start'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        560
      ],
      "id": "send-status-id",
      "name": "Enviar Status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.id,\n  a.area,\n  a.severidad,\n  ROUND(a.valor_kwh::numeric, 2)      AS valor_kwh,\n  ROUND(a.ema_kwh::numeric, 2)        AS ema_kwh,\n  ROUND(a.desviacion::numeric, 1)     AS desviacion,\n  a.recomendacion,\n  to_char(a.timestamp, 'DD/MM HH24:MI') AS cuando\nFROM anomalias a\nWHERE a.timestamp >= NOW() - INTERVAL '6 hours'\nORDER BY a.timestamp DESC\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        100,
        740
      ],
      "id": "get-anomalias-id",
      "name": "Obtener Anomalías",
      "credentials": {
        "postgres": {
          "id": "I7MdTzT2OpsQLA7O",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst sIcon = { Critico: '🔴', Advertencia: '🟠', Normal: '🟢' };\n\nif (rows.length === 0) {\n  return [{ json: { text: '✅ <b>Sin anomalías en las últimas 6 horas.</b>\\n\\n🤖 <i>Sistema operando normalmente.</i>', chat_id: $('Normalizar Input').first().json.chat_id } }];\n}\n\nlet msg = `🚨 <b>ANOMALÍAS — ÚLTIMAS 6H</b>\\n━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\nrows.forEach((r, idx) => {\n  const icon = sIcon[r.severidad] || '⚪';\n  let rec = {};\n  try { rec = JSON.parse(r.recomendacion.replace(/```json|```/g, '')); } catch(e) { rec = {causa:'N/D', accion:'Verificar manualmente', prioridad:'Media'}; }\n  msg += `${icon} <b>#${idx+1} ${r.area}</b> — <code>${r.cuando}</code>\\n`;\n  msg += `   ⚡ ${r.valor_kwh} kWh (EMA: ${r.ema_kwh} | Δ${r.desviacion}%)\\n`;\n  msg += `   🧩 ${rec.causa || 'Sin diagnóstico'}\\n`;\n  msg += `   🛠️ ${rec.accion || 'Revisar'}\\n\\n`;\n});\n\nmsg += `━━━━━━━━━━━━━━━━━━━━\\n🤖 <i>Diagnóstico por Google Gemini</i>`;\n\nreturn [{ json: { text: msg, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        740
      ],
      "id": "format-anomalias-id",
      "name": "Formatear Anomalías"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'🔄 Actualizar', callback_data:'get_anomalias'}, {text:'⬅️ Menú', callback_data:'/start'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        740
      ],
      "id": "send-anomalias-id",
      "name": "Enviar Anomalías"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  area,\n  ROUND(AVG(reading)::numeric, 2)  AS promedio_kwh,\n  ROUND(STDDEV(reading)::numeric, 2) AS desviacion_std,\n  ROUND(MAX(reading)::numeric, 2)  AS pico_historico,\n  COUNT(*)                          AS total_lecturas,\n  to_char(MAX(timestamp),'DD/MM HH24:MI') AS ultima_lectura\nFROM energy_history\nWHERE timestamp >= NOW() - INTERVAL '7 days'\nGROUP BY area\nORDER BY promedio_kwh DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        100,
        920
      ],
      "id": "get-prediccion-data-id",
      "name": "Datos para Predicción",
      "credentials": {
        "postgres": {
          "id": "I7MdTzT2OpsQLA7O",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un experto en análisis predictivo de energía eléctrica en edificios universitarios.\n\nDatos históricos de los últimos 7 días por área:\n{{ $input.all().map(i => `- ${i.json.area}: Promedio=${i.json.promedio_kwh} kWh, STD=${i.json.desviacion_std}, Pico=${i.json.pico_historico} kWh, Lecturas=${i.json.total_lecturas}`).join('\\n') }}\n\nResponde ÚNICAMENTE con este JSON (sin markdown):\n{\n  \"prediccion_proximas_24h\": [\n    {\"area\": \"nombre\", \"kwh_esperado\": 0.0, \"riesgo\": \"Bajo|Medio|Alto\", \"motivo\": \"breve\"}\n  ],\n  \"area_mayor_riesgo\": \"nombre\",\n  \"recomendacion_global\": \"texto breve\",\n  \"ahorro_potencial_pct\": 0\n}",
        "messages": {
          "messageValues": [
            {
              "message": "Actúa como motor de predicción JSON. Solo responde el objeto JSON, sin texto adicional."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        300,
        920
      ],
      "id": "prediccion-llm-id",
      "name": "LLM Predicción"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        1080
      ],
      "id": "gemini-prediccion-id",
      "name": "Gemini Predicción",
      "credentials": {
        "googlePalmApi": {
          "id": "AWtFWGrPJ4SsvWCn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '{}';\nlet pred;\ntry { pred = JSON.parse(raw.replace(/```json|```/g,'')); } catch(e) { pred = { prediccion_proximas_24h:[], recomendacion_global:'Error al procesar', ahorro_potencial_pct:0 }; }\n\nconst riesgoIcon = { Bajo:'🟢', Medio:'🟡', Alto:'🔴' };\n\nlet msg = `🔮 <b>PREDICCIÓN IA — PRÓXIMAS 24H</b>\\n━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\n(pred.prediccion_proximas_24h || []).forEach(p => {\n  const icon = riesgoIcon[p.riesgo] || '⚪';\n  msg += `${icon} <b>${p.area}</b>\\n`;\n  msg += `   ⚡ Esperado: <b>${p.kwh_esperado} kWh</b>\\n`;\n  msg += `   ⚠️ Riesgo: ${p.riesgo}\\n`;\n  msg += `   💡 ${p.motivo}\\n\\n`;\n});\n\nif (pred.area_mayor_riesgo) {\n  msg += `━━━━━━━━━━━━━━━━━━━━\\n🔥 <b>Área crítica:</b> ${pred.area_mayor_riesgo}\\n`;\n}\nmsg += `💡 <b>Recomendación:</b> ${pred.recomendacion_global}\\n`;\nmsg += `💰 <b>Ahorro potencial:</b> ${pred.ahorro_potencial_pct}%\\n\\n`;\nmsg += `🤖 <i>Análisis predictivo por Google Gemini</i>`;\n\nreturn [{ json: { text: msg, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        920
      ],
      "id": "format-prediccion-id",
      "name": "Formatear Predicción"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'⬅️ Menú', callback_data:'/start'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        700,
        920
      ],
      "id": "send-prediccion-id",
      "name": "Enviar Predicción"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  area,\n  ROUND(reading::numeric,4)           AS kwh,\n  ROUND(ema::numeric,4)               AS ema,\n  severity                             AS estado,\n  to_char(timestamp,'YYYY-MM-DD HH24:MI:SS') AS timestamp\nFROM energy_history\nWHERE timestamp >= NOW() - INTERVAL '24 hours'\nORDER BY area, timestamp ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        100,
        1100
      ],
      "id": "get-export-data-id",
      "name": "Datos para Exportar",
      "credentials": {
        "postgres": {
          "id": "I7MdTzT2OpsQLA7O",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\n// Generar CSV\nconst header = 'timestamp,area,kwh,ema,estado';\nconst csvRows = rows.map(r => `${r.timestamp},${r.area},${r.kwh},${r.ema},${r.estado}`);\nconst csv = [header, ...csvRows].join('\\n');\n\n// Convertir a base64\nconst base64 = Buffer.from(csv, 'utf-8').toString('base64');\n\nreturn [{ json: { csv_base64: base64, total_rows: rows.length, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        1100
      ],
      "id": "generate-csv-id",
      "name": "Generar CSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendDocument",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "caption",
              "value": "=📁 <b>Exportación Energética — Últimas 24h</b>\\n📊 {{ $json.total_rows }} registros exportados\\n🤖 <i>Sistema de Monitoreo v2</i>"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        1100
      ],
      "id": "send-export-id",
      "name": "Enviar CSV"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  area,\n  ROUND(reading::numeric,2) AS kwh,\n  ROUND(ema::numeric,2)     AS ema,\n  severity\nFROM energy_history\nWHERE (area, timestamp) IN (\n  SELECT area, MAX(timestamp) FROM energy_history GROUP BY area\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        100,
        1280
      ],
      "id": "get-context-ai-id",
      "name": "Contexto BD para IA",
      "credentials": {
        "postgres": {
          "id": "I7MdTzT2OpsQLA7O",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst userMsg = $('Normalizar Input').first().json.text.replace('/ai','').trim();\n\nconst contextStr = rows.map(r => `${r.area}: ${r.kwh} kWh (EMA: ${r.ema}, Estado: ${r.severity})`).join(', ');\n\nreturn [{ json: { prompt: userMsg, context: contextStr, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        1280
      ],
      "id": "prepare-ai-prompt-id",
      "name": "Preparar Prompt IA"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt || 'Dame un resumen del sistema' }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un experto en gestión energética de edificios universitarios. Tienes acceso a datos en tiempo real del sistema:\\n\\nESTADO ACTUAL: {{ $json.context }}\\n\\nResponde de forma concisa, profesional y en español. Máximo 3 párrafos. Si detectas algo crítico, menciona 'ACCIÓN URGENTE'."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        500,
        1280
      ],
      "id": "ai-chat-llm-id",
      "name": "Chat IA con Contexto"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        500,
        1440
      ],
      "id": "gemini-chat-model-id",
      "name": "Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AWtFWGrPJ4SsvWCn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Preparar Prompt IA').first().json.chat_id }}"
            },
            {
              "name": "text",
              "value": "=🤖 <b>ASISTENTE IA — GEMINI</b>\\n━━━━━━━━━━━━━━━━━━━━\\n\\n{{ $json.text || $json.output }}\\n\\n🤖 <i>Analizado por Google Gemini Pro</i>"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'⬅️ Menú', callback_data:'/start'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        700,
        1280
      ],
      "id": "send-ai-response-id",
      "name": "Enviar Respuesta IA"
    },
    {
      "parameters": {
        "topics": "edificio/+/consumo"
      },
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        -200
      ],
      "id": "mqtt-trigger-id",
      "name": "MQTT Trigger",
      "credentials": {
        "mqtt": {
          "id": "xjg1nt8CQpLp0oBz",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet raw = item.message ?? item.body ?? item.payload ?? item;\nif (raw && typeof raw === 'object' && typeof raw.message === 'string') raw = raw.message;\n\nlet payload;\nif (typeof raw === 'string') {\n  try { payload = JSON.parse(raw); } catch(e) { throw new Error(`Payload no es JSON válido: ${raw}`); }\n} else { payload = raw; }\n\nconst area = payload.area;\nconst kwh  = Number(payload.kwh);\nconst timestamp = payload.timestamp || new Date().toISOString();\n\nif (!area) throw new Error('Falta \"area\" en el payload.');\nif (!Number.isFinite(kwh)) throw new Error(`\"kwh\" inválido: ${payload.kwh}`);\n\nreturn [{ json: { area, kwh: Number(kwh.toFixed(4)), timestamp, topic: item.topic ?? null, modo: payload.modo ?? 'normal' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        -200
      ],
      "id": "parsear-mqtt-id",
      "name": "Parsear MQTT"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(e.ema_actual, {{ $json.kwh }}) AS ema_actual,\n  COALESCE(e.contador, 0)                 AS contador\nFROM (SELECT 1) AS dummy\nLEFT JOIN ema_estado e ON e.area = '{{ $json.area }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -160,
        -200
      ],
      "id": "obtener-ema-id",
      "name": "Obtener EMA",
      "credentials": {
        "postgres": {
          "id": "I7MdTzT2OpsQLA7O",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ALPHA  = 0.2;\nconst WARMUP = Number($env?.WARMUP_READINGS ?? 50);\n\nconst parsedData   = $('Parsear MQTT').first().json;\nconst area         = parsedData.area;\nconst kwh          = parsedData.kwh;\nconst timestamp    = parsedData.timestamp;\nconst modo         = (parsedData.modo ?? 'normal').toLowerCase();\nconst ema_anterior = Number($input.first().json.ema_actual);\nconst contador_ant = Number($input.first().json.contador);\nconst es_primera   = contador_ant === 0;\n\n// Detect if reading comes from an anomaly simulation mode\nconst esAnomalia = modo !== 'normal' && modo !== 'ok' && modo !== 'relay_off';\nconst noActualizarEma = esAnomalia || modo === 'relay_off';\n\n// Only update EMA with normal readings to keep baseline stable\nconst ema_nuevo = es_primera ? kwh : (noActualizarEma ? ema_anterior : ALPHA * kwh + (1 - ALPHA) * ema_anterior);\nconst contador_nuevo = contador_ant + 1;\n\n// For NORMAL areas: compare against ema_nuevo (original behavior)\n// For ANOMALY areas: compare against ema_anterior (stable baseline)\nconst base_comparacion = es_primera ? kwh : (noActualizarEma ? ema_anterior : ema_nuevo);\nconst denom = Math.abs(base_comparacion) < 1e-9 ? 1e-9 : base_comparacion;\nconst desviacion = ((kwh - base_comparacion) / denom) * 100;\nconst enCalentamiento = contador_nuevo <= WARMUP;\n\nlet severidad = 'Normal';\nif (!enCalentamiento && !es_primera) {\n  if      (desviacion > 80) severidad = 'Critico';\n  else if (desviacion > 35) severidad = 'Advertencia';\n  // If simulator is in anomaly mode, force at least Advertencia\n  if (esAnomalia && severidad === 'Normal') severidad = 'Advertencia';\n}\n\nreturn [{ json: { area, kwh: Number(kwh.toFixed(4)), ema: Number(ema_nuevo.toFixed(4)), desviacion: Number(desviacion.toFixed(2)), severidad, enCalentamiento, es_primera_lectura: es_primera, lectura_num: contador_nuevo, timestamp, modo } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        -200
      ],
      "id": "calcular-ema-id",
      "name": "Calcular EMA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ema_estado (area, ema_actual, contador, ultima_vez)\nVALUES ('{{ $json.area }}', {{ $json.ema }}, {{ $json.lectura_num }}, NOW())\nON CONFLICT (area)\nDO UPDATE SET\n  ema_actual = CASE WHEN '{{ $json.modo }}' IN ('normal', 'ok') THEN EXCLUDED.ema_actual ELSE ema_estado.ema_actual END,\n  contador = CASE WHEN '{{ $json.modo }}' IN ('normal', 'ok') THEN EXCLUDED.contador ELSE ema_estado.contador END,\n  ultima_vez = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        280,
        -350
      ],
      "id": "guardar-ema-id",
      "name": "Guardar EMA",
      "credentials": {
        "postgres": {
          "id": "I7MdTzT2OpsQLA7O",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO energy_history (timestamp, area, reading, ema, severity)\nVALUES ('{{ $json.timestamp }}', '{{ $json.area }}', {{ $json.kwh }}, {{ $json.ema }}, '{{ $json.severidad }}')\nON CONFLICT DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        280,
        -200
      ],
      "id": "guardar-history-id",
      "name": "Guardar Historial",
      "credentials": {
        "postgres": {
          "id": "I7MdTzT2OpsQLA7O",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sc1",
                    "leftValue": "={{ $json.desviacion > 80 }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Critico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sc2",
                    "leftValue": "={{ $json.desviacion > 35 && $json.desviacion <= 80 }}",
                    "rightValue": "={{ true }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Advertencia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sc3",
                    "leftValue": "={{ $json.enCalentamiento === true || $json.desviacion <= 35 }}",
                    "rightValue": "={{true}}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Normal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        500,
        -200
      ],
      "id": "severity-switch-id",
      "name": "Switch Severidad"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.INFLUXDB_URL }}/api/v2/write",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "org",
              "value": "={{ $env.INFLUXDB_ORG }}"
            },
            {
              "name": "bucket",
              "value": "={{ $env.INFLUXDB_BUCKET }}"
            },
            {
              "name": "precision",
              "value": "s"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $env.INFLUXDB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "Text/Plain",
        "body": "=consumo_energetico,area={{ $('Calcular EMA').item.json.area }} kwh={{ $('Calcular EMA').item.json.kwh }},ema={{ $('Calcular EMA').item.json.ema }},desviacion={{ $('Calcular EMA').item.json.desviacion }},severidad=\"{{ $('Calcular EMA').item.json.severidad }}\" {{ Math.floor(Date.now()/1000) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        -350
      ],
      "id": "influx-write-id",
      "name": "Escritura en InfluxDB"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un experto en eficiencia energética de edificios universitarios.\nSe detectó una anomalía de consumo eléctrico:\n- Área: {{ $('Switch Severidad').item.json.area }}\n- Consumo Actual: {{ $('Switch Severidad').item.json.kwh }} kWh\n- Consumo Esperado (EMA): {{ $('Switch Severidad').item.json.ema }} kWh\n- Desviación: {{ $('Switch Severidad').item.json.desviacion }}%\n- Severidad: {{ $('Switch Severidad').item.json.severidad }}\n\nResponde ÚNICAMENTE con un objeto JSON (sin markdown) con estas llaves:\n{\n  \"causa\": \"explicación breve de la causa\",\n  \"accion\": \"acción inmediata para mantenimiento\",\n  \"prioridad\": \"Alta|Media|Baja\",\n  \"diagnostico_ext\": \"resumen de 1-2 líneas\"\n}",
        "messages": {
          "messageValues": [
            {
              "message": "Actúa como motor de diagnóstico JSON. Solo responde el objeto JSON, sin texto adicional."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        720,
        -200
      ],
      "id": "anomaly-llm-id",
      "name": "LLM Diagnóstico Anomalía",
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        -50
      ],
      "id": "gemini-anomaly-id",
      "name": "Gemini Anomalía",
      "credentials": {
        "googlePalmApi": {
          "id": "AWtFWGrPJ4SsvWCn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO anomalias (timestamp, area, dispositivo, severidad, valor_kwh, ema_kwh, desviacion, recomendacion)\nVALUES (NOW(), $1, $2, $3, $4, $5, $6, $7);",
        "options": {
          "queryReplacement": "={{ [ \n  $('Switch Severidad').item.json.area, \n  $('Switch Severidad').item.json.area.toLowerCase().includes('hvac') ? 'HVAC' : ($('Switch Severidad').item.json.area.toLowerCase().includes('luz') ? 'Iluminación' : 'General'), \n  $('Switch Severidad').item.json.severidad, \n  $('Switch Severidad').item.json.kwh, \n  $('Switch Severidad').item.json.ema, \n  $('Switch Severidad').item.json.desviacion, \n  ($json.output || $json.text || 'Diagnóstico IA no disponible (rate limit). Verificar consumo manualmente.')\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        940,
        -350
      ],
      "id": "guardar-anomalia-id",
      "name": "Guardar Anomalía",
      "credentials": {
        "postgres": {
          "id": "I7MdTzT2OpsQLA7O",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "={{ (() => {\n    const tz = 'America/Lima';\n    const ts = $('Switch Severidad').item.json.timestamp ?? new Date().toISOString();\n    const fecha = new Date(ts).toLocaleString('es-ES', { timeZone: tz });\n    const area = $('Switch Severidad').item.json.area ?? 'N/D';\n    const sev  = ($('Switch Severidad').item.json.severidad ?? 'N/D').toString();\n    const kwh  = $('Switch Severidad').item.json.kwh ?? 'N/D';\n    const ema  = $('Switch Severidad').item.json.ema ?? 'N/D';\n    const des  = $('Switch Severidad').item.json.desviacion ?? 'N/D';\n    let ai;\n    try { const raw = $json.text || $json.output || ''; ai = JSON.parse(raw.replace(/```json/g, '').replace(/```/g, '')); }\n    catch (e) { ai = { causa: 'Diagnóstico IA no disponible', accion: 'Revisar manualmente', prioridad: 'Alta', diagnostico_ext: 'Se superó el límite de consultas al modelo. Anomalía registrada.' }; }\n    const sevEmoji = sev.toLowerCase().includes('crit') ? '🔴' : '🟠';\n    const prEmoji  = (ai.prioridad||'').toLowerCase().includes('alta') ? '🔥' : '⚠️';\n    return (\n`${sevEmoji} <b>ALERTA ENERGÉTICA: ${area}</b>\\n` +\n`━━━━━━━━━━━━━━━━━━━━\\n` +\n`🕒 <b>Fecha:</b> ${fecha}\\n` +\n`🏷️ <b>Severidad:</b> ${sev}\\n\\n` +\n`<b>📊 Métricas</b>\\n` +\n`⚡ Actual: <b>${kwh} kWh</b>\\n` +\n`📈 EMA: ${ema} kWh\\n` +\n`📉 Desviación: <b>${des}%</b>\\n\\n` +\n`<b>🧠 Diagnóstico IA</b>\\n` +\n`🧩 Causa: ${ai.causa}\\n` +\n`🛠️ Acción: ${ai.accion}\\n` +\n`${prEmoji} Prioridad: <b>${ai.prioridad}</b>\\n\\n` +\n`🤖 <i>Sistema de Monitoreo Inteligente v2</i>`\n    );\n  })() }}"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'⚠️ Ignorar', callback_data:'feedback_falso_' + ($('Switch Severidad').item.json.area || 'unknown')}, {text:'🔴 Cortar Energía', callback_data:'cut_' + ($('Switch Severidad').item.json.area || 'unknown')}],[{text:'✅ Resuelto', callback_data:'feedback_resuelto_' + ($('Switch Severidad').item.json.area || 'unknown')}, {text:'📊 Ver Estado', callback_data:'get_status'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        940,
        -200
      ],
      "id": "alert-telegram-id",
      "name": "Alerta Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://dashboard:8000/api/mqtt/publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic: `edificio/${$('Switch Severidad').item.json.area}/comando`, payload: { accion: 'corte_emergencia', motivo: `Anomalía ${$('Switch Severidad').item.json.severidad}: ${$('Switch Severidad').item.json.desviacion}% desviación`, origen: 'n8n_self_healing' } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        -350
      ],
      "id": "self-healing-mqtt-id",
      "name": "Self-Healing MQTT Corte"
    },
    {
      "parameters": {
        "jsCode": "// Evaluar si la anomalía requiere corte automático de emergencia\nconst item = $('Switch Severidad').item.json;\nconst sev = (item.severidad || '').toString().toLowerCase();\nconst desviacion = Number(item.desviacion) || 0;\nconst area = item.area || '';\nconst modo = (item.modo || 'normal').toLowerCase();\n\n// No auto-cortar si es una simulación de anomalía (modo explícito del simulador)\nconst esSimulacion = modo !== 'normal' && modo !== 'ok' && modo !== 'relay_off';\n\n// Reglas de auto-corte:\n// 1. Severidad Crítica con desviación > 150% (umbral alto)\n// 2. NO es simulación de anomalía\n// 3. Área sensible (sala_servidores queda excluida por seguridad)\nconst areasProtegidas = ['sala_servidores'];\nconst requiereCorte = !esSimulacion && sev.includes('crit') && desviacion > 150 && !areasProtegidas.includes(area);\n\nreturn [{ json: { ...item, requiere_corte: requiereCorte, motivo: requiereCorte ? `Auto-corte: ${desviacion}% desviación` : 'Solo alerta' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -200
      ],
      "id": "evaluar-self-healing-id",
      "name": "Evaluar Self-Healing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict", "version": 3 },
                "conditions": [
                  {
                    "id": "sh1",
                    "leftValue": "={{ $json.requiere_corte }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cortar"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict", "version": 3 },
                "conditions": [
                  {
                    "id": "sh2",
                    "leftValue": "={{ $json.requiere_corte }}",
                    "rightValue": false,
                    "operator": { "type": "boolean", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Solo Alerta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1400,
        -200
      ],
      "id": "switch-self-healing-id",
      "name": "Switch Self-Healing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "=🚨 <b>CORTE DE EMERGENCIA AUTOMÁTICO</b>\n━━━━━━━━━━━━━━━━━━━━\n📍 Área: <b>{{ $json.area }}</b>\n⚡ Consumo: <b>{{ $json.kwh }} kWh</b>\n📉 Desviación: <b>{{ $json.desviacion }}%</b>\n\n🔴 Se ha ejecutado un <b>corte automático</b> del suministro eléctrico.\n💡 Motivo: {{ $json.motivo }}\n\n🤖 <i>Sistema Self-Healing v1</i>"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [ [{text:'🟢 Restaurar Energía', callback_data:'restore_' + $json.area}], [{text:'📊 Ver Estado', callback_data:'get_status'}, {text:'🚨 Ver Anomalías', callback_data:'get_anomalias'}] ] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        -350
      ],
      "id": "telegram-corte-notif-id",
      "name": "Notificar Corte Telegram"
    },
    {
      "parameters": {
        "jsCode": "// Procesar callbacks de acción operativa\nconst text = $('Normalizar Input').first().json.text || '';\nconst chat_id = $('Normalizar Input').first().json.chat_id;\n\nlet accion = '';\nlet area = '';\nlet tipo_feedback = '';\n\n// Restore energy: restore_{area}\nif (text.startsWith('restore_')) {\n  area = text.replace('restore_', '');\n  accion = 'restaurar_energia';\n}\n// Cut energy: cut_{area}\nelse if (text.startsWith('cut_')) {\n  area = text.replace('cut_', '');\n  accion = 'cortar_energia';\n}\n// Feedback: feedback_resuelto_{area} or feedback_falso_{area}\nelse if (text.startsWith('feedback_resuelto_')) {\n  area = text.replace('feedback_resuelto_', '');\n  tipo_feedback = 'resuelto';\n}\nelse if (text.startsWith('feedback_falso_')) {\n  area = text.replace('feedback_falso_', '');\n  tipo_feedback = 'falso_positivo';\n}\n\nreturn [{ json: { chat_id, area, accion, tipo_feedback, original_text: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        1200
      ],
      "id": "parse-action-callback-id",
      "name": "Parsear Acción Operativa"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict", "version": 3 },
                "conditions": [
                  { "id": "ac1", "leftValue": "={{ $json.accion }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Relay Control"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "typeValidation": "strict", "version": 3 },
                "conditions": [
                  { "id": "ac2", "leftValue": "={{ $json.tipo_feedback }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Feedback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        300,
        1200
      ],
      "id": "switch-accion-id",
      "name": "Switch Acción"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://dashboard:8000/api/relays",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ area: $json.area, accion: $json.accion, motivo: 'Operador via Telegram', origen: 'telegram' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        1100
      ],
      "id": "relay-control-api-id",
      "name": "Control Relé API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $('Parsear Acción Operativa').first().json.chat_id }}" },
            { "name": "parse_mode", "value": "HTML" },
            { "name": "text", "value": "=✅ <b>Acción ejecutada</b>\n📍 Área: <b>{{ $('Parsear Acción Operativa').first().json.area }}</b>\n⚡ Acción: <b>{{ $('Parsear Acción Operativa').first().json.accion }}</b>\n🤖 <i>Relé actualizado correctamente</i>" },
            { "name": "reply_markup", "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'📊 Ver Estado', callback_data:'get_status'}, {text:'⬅️ Menú', callback_data:'/start'}]] }) }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        700,
        1100
      ],
      "id": "confirmar-relay-id",
      "name": "Confirmar Relay Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://dashboard:8000/api/feedback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ usuario: 'telegram_operator', tipo: $json.tipo_feedback, comentario: `Feedback para ${$json.area}` }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        1300
      ],
      "id": "submit-feedback-api-id",
      "name": "Guardar Feedback API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $('Parsear Acción Operativa').first().json.chat_id }}" },
            { "name": "parse_mode", "value": "HTML" },
            { "name": "text", "value": "=📝 <b>Feedback registrado</b>\n📍 Área: <b>{{ $('Parsear Acción Operativa').first().json.area }}</b>\n🏷️ Tipo: <b>{{ $('Parsear Acción Operativa').first().json.tipo_feedback }}</b>\n\n✅ Gracias por tu retroalimentación. Esto ayuda a mejorar los umbrales de detección." },
            { "name": "reply_markup", "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'⬅️ Menú', callback_data:'/start'}]] }) }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        700,
        1300
      ],
      "id": "confirmar-feedback-id",
      "name": "Confirmar Feedback Telegram"
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_URL || 'http://n8n:5678' }}/webhook/agent-orchestrator",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ area: $('Calcular EMA').item.json.area, kwh: $('Calcular EMA').item.json.kwh, ema: $('Calcular EMA').item.json.ema, desviacion: $('Calcular EMA').item.json.desviacion, severidad: $('Calcular EMA').item.json.severidad, timestamp: $('Calcular EMA').item.json.timestamp }) }}",
        "options": { "timeout": 10000, "allowUnauthorizedCerts": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [500, -450],
      "onError": "continueRegularOutput",
      "id": "call-orchestrator-id",
      "name": "Llamar Orquestador"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT CASE WHEN COUNT(*) = 0 THEN 1 ELSE 0 END as puede_alertar FROM anomalias WHERE area = '{{ $('Switch Severidad').item.json.area }}' AND timestamp > NOW() - INTERVAL '3 minutes';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [560, -200],
      "id": "throttle-check-id",
      "name": "Verificar Throttle",
      "credentials": {
        "postgres": {
          "id": "I7MdTzT2OpsQLA7O",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "throttle_cond",
              "leftValue": "={{ Number($json.puede_alertar || 0) }}",
              "rightValue": 1,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, -200],
      "id": "throttle-if-id",
      "name": "Puede Alertar?"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Router Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Principal": {
      "main": [
        [
          {
            "node": "Enviar Menú Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Reporte 24h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Status Áreas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Anomalías",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datos para Predicción",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contexto BD para IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datos para Exportar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parsear Acción Operativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Reporte 24h": {
      "main": [
        [
          {
            "node": "Formatear Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Reporte": {
      "main": [
        [
          {
            "node": "Enviar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Status Áreas": {
      "main": [
        [
          {
            "node": "Formatear Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Status": {
      "main": [
        [
          {
            "node": "Enviar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Anomalías": {
      "main": [
        [
          {
            "node": "Formatear Anomalías",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Anomalías": {
      "main": [
        [
          {
            "node": "Enviar Anomalías",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos para Predicción": {
      "main": [
        [
          {
            "node": "LLM Predicción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Predicción": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Predicción",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Predicción": {
      "main": [
        [
          {
            "node": "Formatear Predicción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Predicción": {
      "main": [
        [
          {
            "node": "Enviar Predicción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos para Exportar": {
      "main": [
        [
          {
            "node": "Generar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar CSV": {
      "main": [
        [
          {
            "node": "Enviar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto BD para IA": {
      "main": [
        [
          {
            "node": "Preparar Prompt IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt IA": {
      "main": [
        [
          {
            "node": "Chat IA con Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chat IA con Contexto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat IA con Contexto": {
      "main": [
        [
          {
            "node": "Enviar Respuesta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MQTT Trigger": {
      "main": [
        [
          {
            "node": "Parsear MQTT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear MQTT": {
      "main": [
        [
          {
            "node": "Obtener EMA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener EMA": {
      "main": [
        [
          {
            "node": "Calcular EMA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular EMA": {
      "main": [
        [
          {
            "node": "Guardar EMA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar Historial",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch Severidad",
            "type": "main",
            "index": 0
          },
          {
            "node": "Llamar Orquestador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar EMA": {
      "main": [
        []
      ]
    },
    "Guardar Historial": {
      "main": [
        [
          {
            "node": "Escritura en InfluxDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escritura en InfluxDB": {
      "main": [
        []
      ]
    },
    "Switch Severidad": {
      "main": [
        [
          {
            "node": "Verificar Throttle",
            "type": "main",
            "index": 0
          },
          {
            "node": "Escritura en InfluxDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Throttle",
            "type": "main",
            "index": 0
          },
          {
            "node": "Escritura en InfluxDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escritura en InfluxDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Throttle": {
      "main": [
        [
          {
            "node": "Puede Alertar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puede Alertar?": {
      "main": [
        [
          {
            "node": "LLM Diagnóstico Anomalía",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gemini Anomalía": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Diagnóstico Anomalía",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Diagnóstico Anomalía": {
      "main": [
        [
          {
            "node": "Guardar Anomalía",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Anomalía": {
      "main": [
        []
      ]
    },
    "Alerta Telegram": {
      "main": [
        [
          {
            "node": "Evaluar Self-Healing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Self-Healing": {
      "main": [
        [
          {
            "node": "Switch Self-Healing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Self-Healing": {
      "main": [
        [
          {
            "node": "Self-Healing MQTT Corte",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Self-Healing MQTT Corte": {
      "main": [
        [
          {
            "node": "Notificar Corte Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Corte Telegram": {
      "main": [
        []
      ]
    },
    "Parsear Acción Operativa": {
      "main": [
        [
          {
            "node": "Switch Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Acción": {
      "main": [
        [
          {
            "node": "Control Relé API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Feedback API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Relé API": {
      "main": [
        [
          {
            "node": "Confirmar Relay Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Relay Telegram": {
      "main": [
        []
      ]
    },
    "Guardar Feedback API": {
      "main": [
        [
          {
            "node": "Confirmar Feedback Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Feedback Telegram": {
      "main": [
        []
      ]
    },
    "Llamar Orquestador": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae9088f022b1c55eff9078324c1ad38af40876a591a9cf319a66be576c93c9fd"
  },
  "tags": []
}