n8n/workflows/Agente-Resolucion.json
{
  "name": "Agente-Resolucion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-resolution",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -624,
        -96
      ],
      "id": "e86b70e5-896a-4fb5-a9a2-f732d186c14d",
      "name": "Webhook Resolución",
      "webhookId": "agent-resolution"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar incidentes abiertos para esta área\nSELECT\n  i.id,\n  i.anomalia_id,\n  i.area,\n  i.severidad,\n  i.kwh_al_abrir,\n  i.timestamp_apertura,\n  EXTRACT(EPOCH FROM (NOW() - i.timestamp_apertura)) / 60 as minutos_abierto\nFROM incidentes i\nWHERE i.area = '{{ $json.body.area || $json.area }}'\n  AND i.estado = 'abierto'\nORDER BY i.timestamp_apertura DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -400,
        -96
      ],
      "alwaysOutputData": true,
      "id": "372e3dee-e92f-4275-8941-10ded5781068",
      "name": "Buscar Incidente Abierto",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════\n// AGENTE RESOLUCIÓN — Ciclo de Vida de Incidentes\n// ═══════════════════════════════════════\nconst input = $('Webhook Resolución').first().json.body || $('Webhook Resolución').first().json;\nconst area = input.area || 'unknown';\nconst kwh = Number(input.kwh) || 0;\nconst ema = Number(input.ema) || 0;\nconst severity = input.severity || 'Normal';\nconst incidentRow = $('Buscar Incidente Abierto').first().json;\n\nconst RESOLUTION_WINDOW_MIN = 120; // 2 horas\nconst NORMAL_THRESHOLD = 0.20; // Dentro del 20% de EMA = normal\n\nconst results = [];\n\n// ── Verificar incidente existente ──\nif (incidentRow && incidentRow.id) {\n  const minutesOpen = Number(incidentRow.minutos_abierto) || 0;\n  \n  // ¿Consumo volvió a la normalidad?\n  const isNormal = ema > 0 && Math.abs(kwh - ema) / ema <= NORMAL_THRESHOLD;\n  \n  if (isNormal) {\n    results.push({\n      action: 'close_incident',\n      incident_id: incidentRow.id,\n      anomalia_id: incidentRow.anomalia_id,\n      area,\n      estado: 'auto_resuelto',\n      resolution_time_min: Math.round(minutesOpen),\n      kwh_at_close: kwh\n    });\n  } else if (minutesOpen > RESOLUTION_WINDOW_MIN) {\n    results.push({\n      action: 'escalate_incident',\n      incident_id: incidentRow.id,\n      anomalia_id: incidentRow.anomalia_id,\n      area,\n      hours_open: (minutesOpen / 60).toFixed(1),\n      send_escalation: true\n    });\n  } else {\n    results.push({\n      action: 'monitoring',\n      incident_id: incidentRow.id,\n      area,\n      minutes_open: Math.round(minutesOpen),\n      remaining_min: Math.round(RESOLUTION_WINDOW_MIN - minutesOpen)\n    });\n  }\n}\n\n// ── Abrir nuevo incidente para Crítico sin incidente activo ──\nif (severity === 'Critico' && !(incidentRow && incidentRow.id)) {\n  results.push({\n    action: 'open_incident',\n    area,\n    severity,\n    kwh_at_open: kwh\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: {\n    action: 'no_change',\n    area,\n    open_incident: !!(incidentRow && incidentRow.id)\n  } }];\n}\n\n// Tomar la acción principal (primera)\nconst primary = results[0];\nreturn [{ json: {\n  ...primary,\n  all_results: results,\n  timestamp: new Date().toISOString()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -96
      ],
      "id": "8536f2b1-2d88-47f7-9821-39304f122721",
      "name": "Evaluar Resolución"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ra1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "open_incident",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Abrir"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ra2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "close_incident",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cerrar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ra3",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "escalate_incident",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Escalar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ra4",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "open_incident|close_incident|escalate_incident",
                    "operator": {
                      "type": "string",
                      "operation": "notRegex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sin Cambio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        64,
        -128
      ],
      "id": "3857a299-ac18-4028-8f97-66cbf563e391",
      "name": "Switch Acción"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO incidentes (anomalia_id, area, severidad, kwh_al_abrir)\nVALUES (NULL, $1, $2, $3)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.area, $json.severity, $json.kwh_at_open] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        -384
      ],
      "alwaysOutputData": true,
      "id": "f869b5e2-e8f1-482d-a86d-6957ba6eca47",
      "name": "Abrir Incidente DB",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE incidentes\nSET timestamp_cierre = NOW(),\n    estado = 'resuelto',\n    kwh_al_cerrar = $1,\n    resolucion_automatica = TRUE\nWHERE id = $2;\n\nUPDATE anomalias\nSET accion_tomada = 'auto_resuelto', resuelto_en = NOW()\nWHERE id = $3;",
        "options": {
          "queryReplacement": "={{ [$json.kwh_at_close, $json.incident_id, $json.anomalia_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        -192
      ],
      "alwaysOutputData": true,
      "id": "0b42104d-64a3-4a64-ab3c-19f2765ab292",
      "name": "Cerrar Incidente DB",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "=✅ <b>INCIDENTE RESUELTO AUTOMÁTICAMENTE</b>\n━━━━━━━━━━━━━━━━━━━━\n📍 Área: <b>{{ $('Evaluar Resolución').first().json.area }}</b>\n⏱ Tiempo de resolución: <b>{{ $('Evaluar Resolución').first().json.resolution_time_min }} min</b>\n📊 kWh al cerrar: {{ $('Evaluar Resolución').first().json.kwh_at_close }}\n\n🤖 <i>El consumo volvió a niveles normales</i>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        -192
      ],
      "id": "e271b482-67f4-4e51-9936-0e5dfb33700a",
      "name": "Notificar Resolución"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE incidentes SET estado = 'escalado' WHERE id = $1;\nUPDATE anomalias SET accion_tomada = 'escalado' WHERE id = $2;",
        "options": {
          "queryReplacement": "={{ [$json.incident_id, $json.anomalia_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        64
      ],
      "alwaysOutputData": true,
      "id": "f0ae3f85-aa35-4897-a42f-20c37fd22e84",
      "name": "Escalar Incidente DB",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "=🚨 <b>ESCALAMIENTO DE INCIDENTE</b>\n━━━━━━━━━━━━━━━━━━━━\n📍 Área: <b>{{ $('Evaluar Resolución').first().json.area }}</b>\n⏰ Tiempo abierto: <b>{{ $('Evaluar Resolución').first().json.hours_open }}h</b>\n\n⚠️ El consumo NO ha vuelto a niveles normales.\nSe requiere <b>intervención manual</b>."
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'🔴 Cortar Energía', callback_data:'cut_' + $('Evaluar Resolución').first().json.area}, {text:'✅ Marcar Resuelto', callback_data:'feedback_resuelto_' + $('Evaluar Resolución').first().json.area}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        64
      ],
      "id": "b7bf5abf-45aa-414c-a0ac-5132c0d8c96f",
      "name": "Notificar Escalamiento"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_decisions (agent_name, decision_type, area, output_data, action_taken)\nVALUES ('resolution', $1, $2, $3, $4);",
        "options": {
          "queryReplacement": "={{ [$json.action, $json.area, JSON.stringify({incident_id: $json.incident_id, resolution_min: $json.resolution_time_min, hours_open: $json.hours_open}), $json.action] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        144
      ],
      "alwaysOutputData": true,
      "id": "544dd481-2089-4f49-a26f-87e9307654e7",
      "name": "Log Resolución",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Evaluar Resolución').first().json;\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -48
      ],
      "id": "c0d0312f-9f21-473c-9230-c0cbb47ddcb3",
      "name": "Respuesta Resolución"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'accepted', agent: 'resolution'}) }}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -400,
        -288
      ],
      "id": "08cfe4b9-2ef9-40d5-aba8-d3bc146f5adb",
      "name": "Respuesta Rápida Resol"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Resolución": {
      "main": [
        [
          {
            "node": "Respuesta Rápida Resol",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Incidente Abierto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Incidente Abierto": {
      "main": [
        [
          {
            "node": "Evaluar Resolución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Resolución": {
      "main": [
        [
          {
            "node": "Switch Acción",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Resolución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Acción": {
      "main": [
        [
          {
            "node": "Abrir Incidente DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cerrar Incidente DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalar Incidente DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Resolución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abrir Incidente DB": {
      "main": [
        [
          {
            "node": "Respuesta Resolución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerrar Incidente DB": {
      "main": [
        [
          {
            "node": "Notificar Resolución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Resolución": {
      "main": [
        [
          {
            "node": "Respuesta Resolución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalar Incidente DB": {
      "main": [
        [
          {
            "node": "Notificar Escalamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Escalamiento": {
      "main": [
        [
          {
            "node": "Respuesta Resolución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3b2555bf-5803-43d3-8269-8637392684e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "702eb394707c81656d9b2dd11f9fbd9990280d4e9ae9cafef5221f507e0f126f"
  },
  "id": "znS82pmh69tlT0TK",
  "tags": [
    {
      "updatedAt": "2026-03-01T20:17:37.807Z",
      "createdAt": "2026-03-01T20:17:37.807Z",
      "id": "FGZA1HGwSDRQyaHB",
      "name": "agente"
    }
  ]
}