n8n/workflows/Agente-Correlacion.json
{
  "name": "Agente-Correlacion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-correlation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "5dceaac3-137b-4e75-b8ea-676e74f4c1d4",
      "name": "Webhook Correlación",
      "webhookId": "agent-correlation"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Anomalías en los últimos 5 minutos (ventana de correlación)\nSELECT\n  a.area,\n  a.severidad,\n  a.valor_kwh,\n  a.ema_kwh,\n  a.desviacion,\n  a.timestamp\nFROM anomalias a\nWHERE a.timestamp > NOW() - INTERVAL '5 minutes'\nORDER BY a.timestamp DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "alwaysOutputData": true,
      "id": "515e7874-ae33-4ca2-ba42-008306a4a569",
      "name": "Anomalías Ventana 5min",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Verificar cooldown de correlación (no alertar si ya alertamos hace <10min)\nSELECT id, timestamp\nFROM correlaciones\nWHERE timestamp > NOW() - INTERVAL '10 minutes'\nORDER BY timestamp DESC LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        224
      ],
      "alwaysOutputData": true,
      "id": "a02281ef-e953-4fef-97a6-c5aa0c998880",
      "name": "Verificar Cooldown",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════\n// AGENTE CORRELACIÓN — Detección Cross-Area\n// ═══════════════════════════════════════\nconst input = $('Webhook Correlación').first().json.body || $('Webhook Correlación').first().json;\nconst anomalies = $('Anomalías Ventana 5min').all().map(i => i.json);\nconst cooldown = $('Verificar Cooldown').first().json;\n\nconst THRESHOLD = 3; // Mínimo áreas para alerta consolidada\nconst area = input.area || 'unknown';\n\n// Si hay cooldown activo, skip\nif (cooldown && cooldown.id) {\n  return [{ json: {\n    action: 'cooldown_active',\n    correlated: false,\n    area,\n    reason: 'Alerta de correlación reciente, cooldown activo'\n  } }];\n}\n\n// Agrupar anomalías por área\nconst areaMap = {};\nfor (const a of anomalies) {\n  if (!areaMap[a.area]) areaMap[a.area] = [];\n  areaMap[a.area].push(a);\n}\n\nconst uniqueAreas = Object.keys(areaMap);\nconst isCorrelated = uniqueAreas.length >= THRESHOLD;\n\nif (!isCorrelated) {\n  return [{ json: {\n    action: 'individual_alert',\n    correlated: false,\n    areas_in_window: uniqueAreas.length,\n    threshold: THRESHOLD,\n    area\n  } }];\n}\n\n// ── Inferir causa probable ──\nconst hour = new Date().getHours();\nconst isNight = hour >= 22 || hour < 6;\nlet probableCause = 'anomalia_correlacionada_multiples_areas';\n\nif (uniqueAreas.length >= 6) {\n  probableCause = 'posible_falla_suministro_general';\n} else if (uniqueAreas.includes('sala_servidores') && isNight) {\n  probableCause = 'posible_backup_programado_noches';\n} else {\n  // Verificar pisos adyacentes\n  const floorMap = {\n    laboratorio_computo: 2, aulas_teoricas: 1, biblioteca: 3,\n    cafeteria: 1, oficinas_admin: 4, sala_servidores: 2,\n    estacionamiento: 0, auditorio: 1, gimnasio: 1, laboratorio_quimica: 3\n  };\n  const floors = [...new Set(uniqueAreas.map(a => floorMap[a]).filter(f => f !== undefined))];\n  if (floors.length <= 2) {\n    probableCause = `posible_problema_electrico_pisos_${floors.sort().join('_')}`;\n  }\n}\n\n// Peor severidad\nconst hasCritical = anomalies.some(a => a.severidad === 'Critico');\nconst worstSeverity = hasCritical ? 'Critico' : 'Advertencia';\n\n// Preparar detalle de áreas\nconst areaDetails = uniqueAreas.map(a => {\n  const worst = areaMap[a].reduce((w, x) => Number(x.valor_kwh) > Number(w.valor_kwh) ? x : w, areaMap[a][0]);\n  return { area: a, kwh: Number(worst.valor_kwh).toFixed(2), severity: worst.severidad };\n});\n\nconst causeDescriptions = {\n  posible_falla_suministro_general: '🔴 Posible falla en suministro eléctrico general',\n  posible_backup_programado_noches: '🌙 Posible backup programado nocturno',\n  anomalia_correlacionada_multiples_areas: '⚠️ Anomalía simultánea en múltiples áreas'\n};\n\nlet message = `🔗 <b>ALERTA CORRELACIONADA</b>\\n`;\nmessage += `📊 Áreas afectadas: <b>${uniqueAreas.length}</b>\\n`;\nmessage += `Causa probable: ${causeDescriptions[probableCause] || probableCause}\\n\\n`;\nareaDetails.forEach(d => {\n  message += `  • ${d.area}: ${d.kwh} kWh [${d.severity}]\\n`;\n});\nmessage += `\\n💡 Revisar sistema eléctrico general, no cada área por separado.`;\n\nreturn [{ json: {\n  action: 'consolidated_alert',\n  correlated: true,\n  areas_affected: uniqueAreas,\n  num_areas: uniqueAreas.length,\n  probable_cause: probableCause,\n  worst_severity: worstSeverity,\n  area_details: areaDetails,\n  message,\n  save_correlation: true,\n  timestamp: new Date().toISOString()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ],
      "id": "2de8e342-9acb-4393-ac4b-d09e6e9eb3e2",
      "name": "Analizar Correlación"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cs1",
                    "leftValue": "={{ $json.save_correlation }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Guardar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cs2",
                    "leftValue": "={{ !$json.save_correlation }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NoGuardar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "69971461-d87f-494e-8811-c08b9c6c99be",
      "name": "¿Guardar Correlación?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO correlaciones (areas, tipo, descripcion, severidad_consolidada)\nVALUES ($1, $2, $3, $4)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.areas_affected, $json.probable_cause, `Anomalía correlacionada en ${$json.num_areas} áreas: ${$json.areas_affected.join(', ')}`, $json.worst_severity] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        -160
      ],
      "alwaysOutputData": true,
      "id": "4b967a55-a48b-47b7-bce3-9fb4d9c92e9d",
      "name": "Guardar Correlación DB",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "={{ $('Analizar Correlación').first().json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        -160
      ],
      "id": "f45b3e8a-94cf-4cfd-96b0-0871b0e59fde",
      "name": "Alerta Correlación Telegram"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_decisions (agent_name, decision_type, area, output_data, action_taken)\nVALUES ('correlation', $1, $2, $3, $4);",
        "options": {
          "queryReplacement": "={{ [$json.action, $json.area || $json.areas_affected?.[0] || 'multi', JSON.stringify({correlated: $json.correlated, cause: $json.probable_cause, areas: $json.num_areas}), $json.action] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        208
      ],
      "alwaysOutputData": true,
      "id": "bae62f68-69de-4747-818c-56f8c9bfb9e8",
      "name": "Log Correlación",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Analizar Correlación').first().json;\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        16
      ],
      "id": "1e61acd4-3644-4766-b9d8-a2f54cb4bb7c",
      "name": "Respuesta Correlación"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'accepted', agent: 'correlation'}) }}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        224,
        -208
      ],
      "id": "b0490bef-5c1e-47c7-a61f-026766586e34",
      "name": "Respuesta Rápida Corr"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Correlación": {
      "main": [
        [
          {
            "node": "Respuesta Rápida Corr",
            "type": "main",
            "index": 0
          },
          {
            "node": "Anomalías Ventana 5min",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verificar Cooldown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anomalías Ventana 5min": {
      "main": [
        [
          {
            "node": "Analizar Correlación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Cooldown": {
      "main": [
        [
          {
            "node": "Analizar Correlación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Correlación": {
      "main": [
        [
          {
            "node": "¿Guardar Correlación?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Correlación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Guardar Correlación?": {
      "main": [
        [
          {
            "node": "Guardar Correlación DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Correlación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Correlación DB": {
      "main": [
        [
          {
            "node": "Alerta Correlación Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta Correlación Telegram": {
      "main": [
        [
          {
            "node": "Respuesta Correlación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3fa9c2cc-e99f-4882-bc36-b1ab8f0f4107",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "702eb394707c81656d9b2dd11f9fbd9990280d4e9ae9cafef5221f507e0f126f"
  },
  "id": "5axNbvSZ2SgYe5mJ",
  "tags": [
    {
      "updatedAt": "2026-03-01T20:17:37.807Z",
      "createdAt": "2026-03-01T20:17:37.807Z",
      "id": "FGZA1HGwSDRQyaHB",
      "name": "agente"
    }
  ]
}