n8n/workflows/Agente-Reportes.json
{
  "name": "Agente-Reportes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-reports",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        64
      ],
      "id": "85f2be50-17a1-46ee-a7a4-adfaf6c6e13e",
      "name": "Webhook Reportes",
      "webhookId": "agent-reports"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            },
            {
              "triggerAtHour": 14
            },
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        240
      ],
      "id": "1dc88d37-381d-484a-91b8-34b539cbf953",
      "name": "Trigger Turno 6/14/22h"
    },
    {
      "parameters": {
        "jsCode": "// Determinar tipo de reporte y turno actual\nlet reportType = 'shift';\nlet extraData = {};\n\n// ¿Vino del webhook o del schedule?\nconst webhookData = $('Webhook Reportes')?.first()?.json;\nif (webhookData && (webhookData.body || webhookData.report_type)) {\n  const body = webhookData.body || webhookData;\n  reportType = body.report_type || 'shift';\n  extraData = body;\n}\n\n// Determinar turno\nconst hour = new Date().getHours();\nlet shift = 'mañana';\nif (hour >= 14 && hour < 22) shift = 'tarde';\nelse if (hour >= 22 || hour < 6) shift = 'noche';\n\nconst shiftHours = {\n  mañana: { start: 6, end: 14 },\n  tarde: { start: 14, end: 22 },\n  noche: { start: 22, end: 6 }\n};\n\nreturn [{ json: {\n  report_type: reportType,\n  shift,\n  shift_hours: shiftHours[shift],\n  extra: extraData,\n  timestamp: new Date().toISOString()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        160
      ],
      "id": "091d6b6d-5ece-420e-923e-3cc2dd2dd0be",
      "name": "Determinar Tipo Reporte"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rt1",
                    "leftValue": "={{ $json.report_type }}",
                    "rightValue": "shift",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Turno"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rt2",
                    "leftValue": "={{ $json.report_type }}",
                    "rightValue": "incident_resolved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Post-Incidente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rt3",
                    "leftValue": "={{ $json.report_type }}",
                    "rightValue": "weekly",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Semanal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        144
      ],
      "id": "70d051c0-f1ab-4f67-b195-13fca05294b9",
      "name": "Switch Tipo Reporte"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  area,\n  ROUND(SUM(reading)::numeric, 2) as total_kwh,\n  ROUND(AVG(reading)::numeric, 2) as avg_kwh,\n  ROUND(MAX(reading)::numeric, 2) as max_kwh,\n  COUNT(CASE WHEN severity != 'Normal' THEN 1 END) as anomalias\nFROM energy_history\nWHERE timestamp > NOW() - INTERVAL '8 hours'\nGROUP BY area\nORDER BY total_kwh DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        -48
      ],
      "alwaysOutputData": true,
      "id": "ac63597f-6c2c-48d0-89d2-10c2569beb80",
      "name": "Datos Turno",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst shift = $('Determinar Tipo Reporte').first().json.shift;\nconst COST = 0.18;\nconst CO2 = 0.233;\n\nconst shiftEmoji = { mañana: '🌅', tarde: '☀️', noche: '🌙' };\nconst totalKwh = rows.reduce((s, r) => s + Number(r.total_kwh || 0), 0);\nconst totalAnom = rows.reduce((s, r) => s + Number(r.anomalias || 0), 0);\n\nlet msg = `${shiftEmoji[shift] || '📊'} <b>REPORTE DE TURNO — ${shift.toUpperCase()}</b>\\n`;\nmsg += `📅 ${new Date().toLocaleDateString('es-PE', {timeZone:'America/Lima'})}\\n\\n`;\nmsg += `⚡ Consumo total: <b>${totalKwh.toFixed(2)} kWh</b>\\n`;\nmsg += `💰 Costo: <b>S/.${(totalKwh * COST).toFixed(2)}</b>\\n`;\nmsg += `🌿 CO₂: ${(totalKwh * CO2).toFixed(2)} kg\\n`;\nmsg += `⚠️ Anomalías: ${totalAnom}\\n\\n`;\n\nrows.slice(0, 5).forEach(r => {\n  const flag = Number(r.anomalias) > 0 ? '🔴' : '🟢';\n  msg += `  ${flag} ${r.area}: ${r.total_kwh} kWh (máx: ${r.max_kwh})\\n`;\n});\n\nmsg += `\\n🤖 <i>Reporte automático por turno</i>`;\n\nreturn [{ json: { text: msg, report_type: 'shift', shift } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -48
      ],
      "id": "d153b1e6-097f-4ba9-958b-2a981a3a3ca3",
      "name": "Formatear Reporte Turno"
    },
    {
      "parameters": {
        "jsCode": "// Reporte post-incidente\nconst extra = $('Determinar Tipo Reporte').first().json.extra;\nconst area = extra.area || 'unknown';\nconst resMins = extra.resolution_time_min || 0;\nconst kwhOpen = extra.kwh_at_open || 0;\nconst kwhClose = extra.kwh_at_close || 0;\nconst savings = Math.max(0, kwhOpen - kwhClose);\n\nlet msg = `✅ <b>REPORTE POST-INCIDENTE</b>\\n`;\nmsg += `📍 Área: <b>${area}</b>\\n`;\nmsg += `⏱ Resolución: <b>${resMins} min</b>\\n`;\nmsg += `📊 kWh al detectar: ${Number(kwhOpen).toFixed(2)}\\n`;\nmsg += `📊 kWh al resolver: ${Number(kwhClose).toFixed(2)}\\n`;\nmsg += `📉 Reducción: ${savings.toFixed(2)} kWh\\n`;\nmsg += `💰 Ahorro: S/.${(savings * 0.18).toFixed(2)}`;\n\nreturn [{ json: { text: msg, report_type: 'incident_resolved', area } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        160
      ],
      "id": "8b4c8aa6-b42d-412c-87cc-2960e90e4d83",
      "name": "Reporte Post-Incidente"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  area,\n  ROUND(SUM(reading)::numeric, 2) as total_kwh,\n  ROUND(AVG(reading)::numeric, 2) as avg_kwh,\n  COUNT(CASE WHEN severity != 'Normal' THEN 1 END) as anomalias,\n  COUNT(*) as lecturas\nFROM energy_history\nWHERE timestamp > NOW() - INTERVAL '7 days'\nGROUP BY area\nORDER BY total_kwh DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        352
      ],
      "alwaysOutputData": true,
      "id": "e6b4baa4-3ace-452f-b16b-f2fd29f2c99a",
      "name": "Datos Semanales",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as total_incidentes,\n  COUNT(CASE WHEN estado = 'resuelto' THEN 1 END) as resueltos,\n  COUNT(CASE WHEN resolucion_automatica THEN 1 END) as auto_resueltos,\n  COUNT(CASE WHEN estado = 'escalado' THEN 1 END) as escalados,\n  ROUND(AVG(EXTRACT(EPOCH FROM (COALESCE(timestamp_cierre, NOW()) - timestamp_apertura)) / 60)::numeric, 0) as avg_resolucion_min\nFROM incidentes\nWHERE timestamp_apertura > NOW() - INTERVAL '7 days';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        560
      ],
      "alwaysOutputData": true,
      "id": "9bc5280a-6856-4976-a6b1-4884f12cb358",
      "name": "Incidentes Semanales",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $('Datos Semanales').all().map(i => i.json);\nconst inc = $('Incidentes Semanales').first().json;\nconst COST = 0.18;\nconst CO2 = 0.233;\n\nconst totalKwh = rows.reduce((s, r) => s + Number(r.total_kwh || 0), 0);\nconst totalAnom = rows.reduce((s, r) => s + Number(r.anomalias || 0), 0);\n\nlet msg = `📋 <b>REPORTE EJECUTIVO SEMANAL</b>\\n`;\nmsg += `━━━━━━━━━━━━━━━━━━━━\\n\\n`;\nmsg += `<b>⚡ CONSUMO</b>\\n`;\nmsg += `Total: <b>${totalKwh.toFixed(2)} kWh</b>\\n`;\nmsg += `Costo: <b>S/.${(totalKwh * COST).toFixed(2)}</b>\\n`;\nmsg += `CO₂: ${(totalKwh * CO2).toFixed(2)} kg\\n\\n`;\n\nmsg += `<b>🚨 ANOMALÍAS</b>\\n`;\nmsg += `Detectadas: ${totalAnom}\\n\\n`;\n\nmsg += `<b>📂 INCIDENTES</b>\\n`;\nmsg += `Total: ${inc.total_incidentes || 0}\\n`;\nmsg += `Resueltos: ${inc.resueltos || 0} (${inc.auto_resueltos || 0} automáticos)\\n`;\nmsg += `Escalados: ${inc.escalados || 0}\\n`;\nmsg += `Tiempo medio resolución: ${inc.avg_resolucion_min || 0} min\\n\\n`;\n\nmsg += `<b>📊 TOP ÁREAS POR CONSUMO</b>\\n`;\nrows.slice(0, 5).forEach(r => {\n  msg += `  • ${r.area}: ${r.total_kwh} kWh (${r.anomalias} alertas)\\n`;\n});\n\nmsg += `\\n🤖 <i>Reporte ejecutivo semanal</i>`;\n\nreturn [{ json: { text: msg, report_type: 'weekly' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        464
      ],
      "id": "23b5ce41-09dd-4f87-9583-cbff5923970d",
      "name": "Formatear Reporte Semanal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'⬅️ Menú', callback_data:'/start'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        160
      ],
      "id": "0928698a-6073-440a-b6dc-8cc379e45871",
      "name": "Enviar Reporte Telegram"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_decisions (agent_name, decision_type, area, output_data, action_taken)\nVALUES ('reports', $1, 'global', $2, $3);",
        "options": {
          "queryReplacement": "={{ [$json.report_type, JSON.stringify({shift: $json.shift, type: $json.report_type}), 'report_sent'] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        -48
      ],
      "alwaysOutputData": true,
      "id": "a4a247fe-4d49-42ef-92fa-493dd47b9c45",
      "name": "Log Reporte",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { action: 'report_sent', report_type: $json.report_type || 'unknown' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        160
      ],
      "id": "70887184-a6f8-4d46-8dbf-0146727d636a",
      "name": "Respuesta Reportes"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'accepted', agent: 'reports'}) }}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -416,
        -64
      ],
      "id": "ba1f8b18-07c9-41cd-89d3-0416f7f83463",
      "name": "Respuesta Rápida Report"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Reportes": {
      "main": [
        [
          {
            "node": "Respuesta Rápida Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Determinar Tipo Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Turno 6/14/22h": {
      "main": [
        [
          {
            "node": "Determinar Tipo Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determinar Tipo Reporte": {
      "main": [
        [
          {
            "node": "Switch Tipo Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tipo Reporte": {
      "main": [
        [
          {
            "node": "Datos Turno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reporte Post-Incidente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datos Semanales",
            "type": "main",
            "index": 0
          },
          {
            "node": "Incidentes Semanales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Turno": {
      "main": [
        [
          {
            "node": "Formatear Reporte Turno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Reporte Turno": {
      "main": [
        [
          {
            "node": "Enviar Reporte Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reporte Post-Incidente": {
      "main": [
        [
          {
            "node": "Enviar Reporte Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Semanales": {
      "main": [
        [
          {
            "node": "Formatear Reporte Semanal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incidentes Semanales": {
      "main": [
        [
          {
            "node": "Formatear Reporte Semanal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Reporte Semanal": {
      "main": [
        [
          {
            "node": "Enviar Reporte Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Reporte Telegram": {
      "main": [
        [
          {
            "node": "Log Reporte",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respuesta Reportes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "31f57d2f-3fd4-45d3-9266-02e2b483db23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "702eb394707c81656d9b2dd11f9fbd9990280d4e9ae9cafef5221f507e0f126f"
  },
  "id": "Q5QGD4az2krkyMIu",
  "tags": [
    {
      "updatedAt": "2026-03-01T20:17:37.807Z",
      "createdAt": "2026-03-01T20:17:37.807Z",
      "id": "FGZA1HGwSDRQyaHB",
      "name": "agente"
    }
  ]
}