n8n/workflows/Agente-Mantenimiento.json
{
  "name": "Agente-Mantenimiento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-maintenance",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        128,
        160
      ],
      "id": "3cb8b522-2035-4bf7-97bf-ec4d4c288fce",
      "name": "Webhook Mantenimiento",
      "webhookId": "agent-maintenance"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Promedios diarios de los últimos 7 días para el área\nSELECT\n  date_trunc('day', timestamp) as dia,\n  ROUND(AVG(reading)::numeric, 4) as avg_reading,\n  ROUND(AVG(ema)::numeric, 4) as avg_ema,\n  COUNT(*) as muestras,\n  ROUND(MAX(reading)::numeric, 4) as max_reading,\n  ROUND(MIN(reading)::numeric, 4) as min_reading\nFROM energy_history\nWHERE area = '{{ $json.body.area || $json.area }}'\n  AND timestamp > NOW() - INTERVAL '7 days'\nGROUP BY dia\nORDER BY dia ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        160
      ],
      "alwaysOutputData": true,
      "id": "8ded8032-4ef7-4e2a-956a-a34082674959",
      "name": "Tendencia Semanal",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Verificar si ya existe orden de mantenimiento reciente para esta área\nSELECT id, timestamp, prioridad\nFROM mantenimiento_preventivo\nWHERE area = '{{ $('Webhook Mantenimiento').first().json.body.area || $('Webhook Mantenimiento').first().json.area }}'\n  AND timestamp > NOW() - INTERVAL '7 days'\n  AND estado = 'pendiente'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        368
      ],
      "alwaysOutputData": true,
      "id": "dd52d531-ed67-4a16-ba88-90cb5feffd5f",
      "name": "Verificar Orden Existente",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════\n// AGENTE MANTENIMIENTO — Detección de Degradación Gradual\n// ═══════════════════════════════════════\nconst input = $('Webhook Mantenimiento').first().json.body || $('Webhook Mantenimiento').first().json;\nconst area = input.area || 'unknown';\nconst dailyData = $('Tendencia Semanal').all().map(i => i.json);\nconst existingOrder = $('Verificar Orden Existente').first().json;\n\nconst MIN_GROWTH_PCT = 1.5;\nconst MIN_DAYS = 5;\nconst MAX_SPIKE_PCT = 50;\n\n// Si ya existe orden pendiente, skip\nif (existingOrder && existingOrder.id) {\n  return [{ json: {\n    action: 'existing_order',\n    area,\n    order_id: existingOrder.id,\n    priority: existingOrder.prioridad,\n    save_order: false\n  } }];\n}\n\n// Datos insuficientes\nif (!dailyData || dailyData.length < 3) {\n  return [{ json: {\n    action: 'insufficient_data',\n    area,\n    days_available: dailyData ? dailyData.length : 0,\n    save_order: false\n  } }];\n}\n\n// ── Calcular crecimiento diario ──\nconst growths = [];\nfor (let i = 1; i < dailyData.length; i++) {\n  const prev = Number(dailyData[i-1].avg_reading);\n  const curr = Number(dailyData[i].avg_reading);\n  const pctChange = prev > 0 ? ((curr - prev) / prev) * 100 : 0;\n  growths.push(pctChange);\n}\n\n// Verificar spikes (salto >50% = no es degradación gradual)\nconst hasSpike = growths.some(g => Math.abs(g) > MAX_SPIKE_PCT);\nif (hasSpike) {\n  return [{ json: {\n    action: 'spike_detected',\n    area,\n    reason: 'Detectado spike >50%, no es degradación gradual',\n    growths: growths.map(g => Math.round(g * 100) / 100),\n    save_order: false\n  } }];\n}\n\n// Contar días con crecimiento positivo sostenido\nconst positiveDays = growths.filter(g => g >= MIN_GROWTH_PCT).length;\nconst avgGrowth = growths.reduce((s, g) => s + g, 0) / growths.length;\n\nconst isDegrading = positiveDays >= Math.min(MIN_DAYS, growths.length) && avgGrowth >= MIN_GROWTH_PCT;\n\nif (!isDegrading) {\n  return [{ json: {\n    action: 'trend_normal',\n    area,\n    avg_daily_growth_pct: Math.round(avgGrowth * 100) / 100,\n    days_analyzed: dailyData.length,\n    save_order: false\n  } }];\n}\n\n// ── Determinar prioridad ──\nlet priority = 'baja';\nif (avgGrowth >= 5.0) priority = 'urgente';\nelse if (avgGrowth >= 3.0) priority = 'alta';\nelse if (avgGrowth >= 2.0) priority = 'media';\n\nconst emaStart = Number(dailyData[0].avg_ema) || 0;\nconst emaCurrent = Number(dailyData[dailyData.length - 1].avg_ema) || 0;\n\nconst prioEmoji = { urgente: '🔴', alta: '🟠', media: '🟡', baja: '🟢' };\n\nconst message = `🔧 <b>MANTENIMIENTO PREVENTIVO</b>\\n` +\n  `${prioEmoji[priority] || '🟡'} Prioridad: <b>${priority.toUpperCase()}</b>\\n` +\n  `📍 Área: <b>${area}</b>\\n` +\n  `📈 Tendencia: +${avgGrowth.toFixed(1)}% diario durante ${positiveDays} días\\n` +\n  `📊 EMA: ${emaStart.toFixed(2)} → ${emaCurrent.toFixed(2)}\\n\\n` +\n  `💡 Inspección preventiva recomendada antes de anomalía crítica.`;\n\nreturn [{ json: {\n  action: 'preventive_maintenance',\n  area,\n  avg_daily_growth_pct: Math.round(avgGrowth * 100) / 100,\n  positive_growth_days: positiveDays,\n  total_days: dailyData.length,\n  ema_start: emaStart,\n  ema_current: emaCurrent,\n  priority,\n  message,\n  save_order: true,\n  recomendacion: `Incremento sostenido de ${avgGrowth.toFixed(1)}% diario durante ${positiveDays} días. Revisar instalación eléctrica de ${area}.`,\n  timestamp: new Date().toISOString()\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        160
      ],
      "id": "e3420194-f00c-4bb9-93fb-359147ade4be",
      "name": "Analizar Tendencia"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ms1",
                    "leftValue": "={{ $json.save_order }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Crear Orden"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ms2",
                    "leftValue": "={{ !$json.save_order }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sin Acción"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        864,
        160
      ],
      "id": "1501c23d-2b9a-4912-a10a-5dc0e1838ae0",
      "name": "¿Crear Orden?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO mantenimiento_preventivo\n  (area, tipo, tendencia_diaria_pct, dias_detectados, ema_inicio, ema_actual, prioridad, recomendacion)\nVALUES ($1, 'degradacion_gradual', $2, $3, $4, $5, $6, $7)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.area, $json.avg_daily_growth_pct, $json.positive_growth_days, $json.ema_start, $json.ema_current, $json.priority, $json.recomendacion] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        -32
      ],
      "alwaysOutputData": true,
      "id": "7e452100-1513-4be9-a96e-945ca499107a",
      "name": "Guardar Orden Mant.",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "={{ $('Analizar Tendencia').first().json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        -32
      ],
      "id": "200b874b-4513-409d-a21c-0137369dd548",
      "name": "Alerta Mantenimiento Telegram"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_decisions (agent_name, decision_type, area, output_data, action_taken)\nVALUES ('maintenance', $1, $2, $3, $4);",
        "options": {
          "queryReplacement": "={{ [$json.action, $json.area, JSON.stringify({growth: $json.avg_daily_growth_pct, days: $json.positive_growth_days, priority: $json.priority}), $json.action] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        368
      ],
      "alwaysOutputData": true,
      "id": "a0aa71af-0ff4-4bab-bc17-88b0604e39a4",
      "name": "Log Mantenimiento",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Analizar Tendencia').first().json;\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        176
      ],
      "id": "e20feb76-b6f5-46c6-91f9-9f62a8215544",
      "name": "Respuesta Mantenimiento"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'accepted', agent: 'maintenance'}) }}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        -48
      ],
      "id": "63fe2db6-7dd7-4cd9-9433-1aea8bd9d4eb",
      "name": "Respuesta Rápida Maint"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Mantenimiento": {
      "main": [
        [
          {
            "node": "Respuesta Rápida Maint",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tendencia Semanal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verificar Orden Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tendencia Semanal": {
      "main": [
        [
          {
            "node": "Analizar Tendencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Orden Existente": {
      "main": [
        [
          {
            "node": "Analizar Tendencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Tendencia": {
      "main": [
        [
          {
            "node": "¿Crear Orden?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Mantenimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Crear Orden?": {
      "main": [
        [
          {
            "node": "Guardar Orden Mant.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Mantenimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Orden Mant.": {
      "main": [
        [
          {
            "node": "Alerta Mantenimiento Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta Mantenimiento Telegram": {
      "main": [
        [
          {
            "node": "Respuesta Mantenimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f87d3a6f-2c08-4e48-962a-d393dfd83579",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "702eb394707c81656d9b2dd11f9fbd9990280d4e9ae9cafef5221f507e0f126f"
  },
  "id": "9ofQ3nspvK8odYn7",
  "tags": [
    {
      "updatedAt": "2026-03-01T20:17:37.807Z",
      "createdAt": "2026-03-01T20:17:37.807Z",
      "id": "FGZA1HGwSDRQyaHB",
      "name": "agente"
    }
  ]
}