n8n/workflows/Telegram-Bot-Control.json
{
  "name": "Telegram-Bot-Control",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        272
      ],
      "id": "08842e9b-2c8f-4c5d-96c4-e302a26a87d0",
      "name": "Telegram Trigger",
      "webhookId": "02ca2a8d-2c76-4a61-866c-d4557003065f",
      "credentials": {
        "telegramApi": {
          "id": "sscwgi5ypvZEE3JU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sanitizar y extraer datos del mensaje de Telegram\nconst item = $input.first().json;\nconst msg = item.message;\nconst cb  = item.callback_query;\n\nconst text     = msg?.text || cb?.data || '';\nconst chat_id  = msg?.chat?.id || cb?.message?.chat?.id || cb?.from?.id;\nconst username = msg?.from?.username || cb?.from?.username || 'usuario';\nconst first    = msg?.from?.first_name || cb?.from?.first_name || 'Usuario';\n\nreturn [{ json: {\n  raw: item,\n  text,\n  chat_id,\n  username,\n  first_name: first,\n  is_callback: !!cb,\n  callback_id: cb?.id || null,\n  message_id: msg?.message_id || cb?.message?.message_id || null,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        272
      ],
      "id": "eadcaac8-cd88-4f44-ad89-2d7ec9db6677",
      "name": "Normalizar Input"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "get_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c3",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "get_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Estado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "get_anomalias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Anomalias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c5",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "get_prediccion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prediccion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c6",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/ai",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI_Chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c7",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "get_exportar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Exportar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c8",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "restore_|cut_|feedback_",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Accion_Operativa"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        384,
        176
      ],
      "id": "4bd36b08-7a90-4b16-a46b-a9228da0b0c3",
      "name": "Router Principal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Normalizar Input').first().json.chat_id }}"
            },
            {
              "name": "text",
              "value": "=🏛️ <b>CENTRO DE CONTROL ENERGÉTICO</b>\n━━━━━━━━━━━━━━━━━━━━\n👋 Hola, <b>{{ $('Normalizar Input').first().json.first_name }}</b>!\n\n🕒 <i>{{ new Date().toLocaleString('es-ES', {timeZone:'America/Lima'}) }}</i>\n\nSelecciona una opción del panel de control:"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [ [{text:'📊 Reporte 24h', callback_data:'get_report'}, {text:'⚡ Estado en Vivo', callback_data:'get_status'}], [{text:'🚨 Anomalías Recientes', callback_data:'get_anomalias'}, {text:'🔮 Predicción IA', callback_data:'get_prediccion'}], [{text:'📁 Exportar CSV', callback_data:'get_exportar'}, {text:'🤖 Consultar IA', callback_data:'/ai Dame un resumen'}] ] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -256
      ],
      "id": "47fbbecf-fce5-4c48-a9c4-2dc933636339",
      "name": "Enviar Menú Principal"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  area,\n  ROUND(SUM(reading)::numeric, 2)                          AS total_kwh,\n  ROUND(AVG(reading)::numeric, 2)                          AS promedio_kwh,\n  ROUND(MAX(reading)::numeric, 2)                          AS pico_kwh,\n  ROUND(MIN(reading)::numeric, 2)                          AS minimo_kwh,\n  COUNT(*)                                                  AS lecturas,\n  MAX(severity)                                             AS estado_max\nFROM energy_history\nWHERE timestamp >= NOW() - INTERVAL '24 hours'\nGROUP BY area\nORDER BY total_kwh DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        -96
      ],
      "id": "ab7930f2-04d1-4fd7-837d-11191116889f",
      "name": "Obtener Reporte 24h",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst totalGlobal = rows.reduce((s, r) => s + Number(r.total_kwh), 0);\nconst costoEstimado = (totalGlobal * 0.18).toFixed(2);\nconst co2Estimado = (totalGlobal * 0.233).toFixed(2);\n\nconst severityIcon = { Normal: '✅', Warning: '⚠️', Critical: '🚨' };\n\nlet msg = `📊 <b>REPORTE ENERGÉTICO — ÚLTIMAS 24H</b>\\n━━━━━━━━━━━━━━━━━━━━\\n`;\nmsg += `🕒 <i>${new Date().toLocaleString('es-ES', {timeZone:'America/Lima'})}</i>\\n\\n`;\n\nrows.forEach(r => {\n  const icon = severityIcon[r.estado_max] || '⚪';\n  msg += `${icon} <b>${r.area}</b>\\n`;\n  msg += `   ⚡ Total: <b>${r.total_kwh} kWh</b>\\n`;\n  msg += `   📈 Pico: ${r.pico_kwh} | Promedio: ${r.promedio_kwh} kWh\\n`;\n  msg += `   📉 Mínimo: ${r.minimo_kwh} kWh (${r.lecturas} lecturas)\\n\\n`;\n});\n\nmsg += `━━━━━━━━━━━━━━━━━━━━\\n`;\nmsg += `🏭 <b>RESUMEN GLOBAL</b>\\n`;\nmsg += `⚡ Total: <b>${totalGlobal.toFixed(2)} kWh</b>\\n`;\nmsg += `💰 Costo estimado: <b>S/. ${costoEstimado}</b>\\n`;\nmsg += `🌱 CO₂ emitido: <b>${co2Estimado} kg</b>\\n\\n`;\nmsg += `🤖 <i>Sistema de Monitoreo Inteligente v2</i>`;\n\nreturn [{ json: { text: msg, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -96
      ],
      "id": "d7af96c0-5913-475f-b9af-bb0394f7f4d4",
      "name": "Formatear Reporte"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'⬅️ Volver al Menú', callback_data:'/start'}, {text:'🔄 Actualizar', callback_data:'get_report'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        -96
      ],
      "id": "11b677a7-aad0-4f33-9210-420f0afa7b63",
      "name": "Enviar Reporte"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  e.area,\n  e.reading                                          AS actual,\n  e.ema                                              AS promedio,\n  e.severity                                         AS estado,\n  ROUND(((e.reading - e.ema) / NULLIF(e.ema,0) * 100)::numeric, 1) AS desviacion_pct,\n  to_char(e.timestamp, 'HH24:MI:SS')                 AS hora,\n  (SELECT COUNT(*) FROM anomalias a\n   WHERE a.area = e.area\n     AND a.timestamp >= NOW() - INTERVAL '1 hour')   AS alertas_1h\nFROM energy_history e\nWHERE (e.area, e.timestamp) IN (\n    SELECT area, MAX(timestamp)\n    FROM energy_history GROUP BY area\n)\nORDER BY ABS((e.reading - e.ema) / NULLIF(e.ema,0)) DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        80
      ],
      "id": "f692fb29-33f4-4f80-8a11-420362eb43b3",
      "name": "Obtener Status Áreas",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst sIcon = { Normal: '✅', Warning: '⚠️', Critical: '🚨' };\nconst barChar = (pct) => {\n  const p = Math.min(Math.max(pct, 0), 100);\n  const filled = Math.round(p / 10);\n  return '█'.repeat(filled) + '░'.repeat(10 - filled) + ` ${p.toFixed(0)}%`;\n};\n\nlet msg = `⚡ <b>ESTADO EN TIEMPO REAL</b>\\n━━━━━━━━━━━━━━━━━━━━\\n`;\nmsg += `🕒 <i>${new Date().toLocaleString('es-ES', {timeZone:'America/Lima'})}</i>\\n\\n`;\n\nrows.forEach(r => {\n  const icon = sIcon[r.estado] || '⚪';\n  const dev = Number(r.desviacion_pct) || 0;\n  const devStr = dev >= 0 ? `+${dev}%` : `${dev}%`;\n  const alertBadge = r.alertas_1h > 0 ? ` 🔔(${r.alertas_1h})` : '';\n  const actualNum = Number(r.actual) || 0;\n  const promedioNum = Number(r.promedio) || 0;\n  msg += `${icon} <b>${r.area}</b>${alertBadge}\\n`;\n  msg += `   ⚡ ${actualNum.toFixed(2)} kWh @ ${r.hora}\\n`;\n  msg += `   📊 ${barChar(Math.abs(dev))}\\n`;\n  msg += `   📈 EMA: ${promedioNum.toFixed(2)} kWh | Δ <b>${devStr}</b>\\n\\n`;\n});\n\nmsg += `🤖 <i>Actualización automática cada 30s</i>`;\n\nreturn [{ json: { text: msg, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        80
      ],
      "id": "87c15761-a908-4bd6-8763-262b42160e78",
      "name": "Formatear Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'🔄 Actualizar', callback_data:'get_status'}, {text:'⬅️ Menú', callback_data:'/start'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        80
      ],
      "id": "e1e459ee-dc60-49a1-b432-13410c0a99bc",
      "name": "Enviar Status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.id,\n  a.area,\n  a.severidad,\n  ROUND(a.valor_kwh::numeric, 2)      AS valor_kwh,\n  ROUND(a.ema_kwh::numeric, 2)        AS ema_kwh,\n  ROUND(a.desviacion::numeric, 1)     AS desviacion,\n  a.recomendacion,\n  to_char(a.timestamp, 'DD/MM HH24:MI') AS cuando\nFROM anomalias a\nWHERE a.timestamp >= NOW() - INTERVAL '6 hours'\nORDER BY a.timestamp DESC\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        256
      ],
      "id": "1787e608-4d28-46c1-acff-c8d596da9f47",
      "name": "Obtener Anomalías",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst sIcon = { Critico: '🔴', Advertencia: '🟠', Normal: '🟢' };\n\nif (rows.length === 0) {\n  return [{ json: { text: '✅ <b>Sin anomalías en las últimas 6 horas.</b>\\n\\n🤖 <i>Sistema operando normalmente.</i>', chat_id: $('Normalizar Input').first().json.chat_id } }];\n}\n\nlet msg = `🚨 <b>ANOMALÍAS — ÚLTIMAS 6H</b>\\n━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\nrows.forEach((r, idx) => {\n  const icon = sIcon[r.severidad] || '⚪';\n  let rec = {};\n  try { rec = JSON.parse(r.recomendacion.replace(/```json|```/g, '')); } catch(e) { rec = {causa:'N/D', accion:'Verificar manualmente', prioridad:'Media'}; }\n  msg += `${icon} <b>#${idx+1} ${r.area}</b> — <code>${r.cuando}</code>\\n`;\n  msg += `   ⚡ ${r.valor_kwh} kWh (EMA: ${r.ema_kwh} | Δ${r.desviacion}%)\\n`;\n  msg += `   🧩 ${rec.causa || 'Sin diagnóstico'}\\n`;\n  msg += `   🛠️ ${rec.accion || 'Revisar'}\\n\\n`;\n});\n\nmsg += `━━━━━━━━━━━━━━━━━━━━\\n🤖 <i>Diagnóstico por Google Gemini</i>`;\n\nreturn [{ json: { text: msg, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        256
      ],
      "id": "c368f608-2116-4619-8829-3e70a4a3e235",
      "name": "Formatear Anomalías"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'🔄 Actualizar', callback_data:'get_anomalias'}, {text:'⬅️ Menú', callback_data:'/start'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        256
      ],
      "id": "b7ef8942-bfdc-4f20-846e-f5a135211d72",
      "name": "Enviar Anomalías"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  area,\n  ROUND(AVG(reading)::numeric, 2)  AS promedio_kwh,\n  ROUND(STDDEV(reading)::numeric, 2) AS desviacion_std,\n  ROUND(MAX(reading)::numeric, 2)  AS pico_historico,\n  COUNT(*)                          AS total_lecturas,\n  to_char(MAX(timestamp),'DD/MM HH24:MI') AS ultima_lectura\nFROM energy_history\nWHERE timestamp >= NOW() - INTERVAL '7 days'\nGROUP BY area\nORDER BY promedio_kwh DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        432
      ],
      "id": "7a3878c1-0716-45d1-9166-8cf8162c873b",
      "name": "Datos para Predicción",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un experto en análisis predictivo de energía eléctrica en edificios universitarios.\n\nDatos históricos de los últimos 7 días por área:\n{{ $input.all().map(i => `- ${i.json.area}: Promedio=${i.json.promedio_kwh} kWh, STD=${i.json.desviacion_std}, Pico=${i.json.pico_historico} kWh, Lecturas=${i.json.total_lecturas}`).join('\\n') }}\n\nResponde ÚNICAMENTE con este JSON (sin markdown):\n{\n  \"prediccion_proximas_24h\": [\n    {\"area\": \"nombre\", \"kwh_esperado\": 0.0, \"riesgo\": \"Bajo|Medio|Alto\", \"motivo\": \"breve\"}\n  ],\n  \"area_mayor_riesgo\": \"nombre\",\n  \"recomendacion_global\": \"texto breve\",\n  \"ahorro_potencial_pct\": 0\n}",
        "messages": {
          "messageValues": [
            {
              "message": "Actúa como motor de predicción JSON. Solo responde el objeto JSON, sin texto adicional."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1024,
        432
      ],
      "id": "95365e50-b4b1-4ba1-a036-1d7cf93eebc2",
      "name": "LLM Predicción"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        608
      ],
      "id": "1397ef1d-1332-4e2a-9046-c8bf16180c5a",
      "name": "Gemini Predicción",
      "credentials": {
        "googlePalmApi": {
          "id": "5kI0fspE9szXgm6q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '{}';\nlet pred;\ntry { pred = JSON.parse(raw.replace(/```json|```/g,'')); } catch(e) { pred = { prediccion_proximas_24h:[], recomendacion_global:'Error al procesar', ahorro_potencial_pct:0 }; }\n\nconst riesgoIcon = { Bajo:'🟢', Medio:'🟡', Alto:'🔴' };\n\nlet msg = `🔮 <b>PREDICCIÓN IA — PRÓXIMAS 24H</b>\\n━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\n(pred.prediccion_proximas_24h || []).forEach(p => {\n  const icon = riesgoIcon[p.riesgo] || '⚪';\n  msg += `${icon} <b>${p.area}</b>\\n`;\n  msg += `   ⚡ Esperado: <b>${p.kwh_esperado} kWh</b>\\n`;\n  msg += `   ⚠️ Riesgo: ${p.riesgo}\\n`;\n  msg += `   💡 ${p.motivo}\\n\\n`;\n});\n\nif (pred.area_mayor_riesgo) {\n  msg += `━━━━━━━━━━━━━━━━━━━━\\n🔥 <b>Área crítica:</b> ${pred.area_mayor_riesgo}\\n`;\n}\nmsg += `💡 <b>Recomendación:</b> ${pred.recomendacion_global}\\n`;\nmsg += `💰 <b>Ahorro potencial:</b> ${pred.ahorro_potencial_pct}%\\n\\n`;\nmsg += `🤖 <i>Análisis predictivo por Google Gemini</i>`;\n\nreturn [{ json: { text: msg, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        432
      ],
      "id": "4ddd57c3-5fe1-4c6e-be79-26a71366b6e3",
      "name": "Formatear Predicción"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'⬅️ Menú', callback_data:'/start'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        432
      ],
      "id": "3fb5dbc1-8c80-4534-9835-64e763597094",
      "name": "Enviar Predicción"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  area,\n  ROUND(reading::numeric,4)           AS kwh,\n  ROUND(ema::numeric,4)               AS ema,\n  severity                             AS estado,\n  to_char(timestamp,'YYYY-MM-DD HH24:MI:SS') AS timestamp\nFROM energy_history\nWHERE timestamp >= NOW() - INTERVAL '24 hours'\nORDER BY area, timestamp ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        1056
      ],
      "id": "b7480252-b2e8-485e-a37a-ae13d6aa7a25",
      "name": "Datos para Exportar",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\n// Generar CSV\nconst header = 'timestamp,area,kwh,ema,estado';\nconst csvRows = rows.map(r => `${r.timestamp},${r.area},${r.kwh},${r.ema},${r.estado}`);\nconst csv = [header, ...csvRows].join('\\n');\n\n// Convertir a base64\nconst base64 = Buffer.from(csv, 'utf-8').toString('base64');\n\nreturn [{ json: { csv_base64: base64, total_rows: rows.length, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1056
      ],
      "id": "16bf5b56-1b6a-4c90-88ab-3ae4602e6627",
      "name": "Generar CSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendDocument",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "caption",
              "value": "=📁 <b>Exportación Energética — Últimas 24h</b>\\n📊 {{ $json.total_rows }} registros exportados\\n🤖 <i>Sistema de Monitoreo v2</i>"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        1056
      ],
      "id": "889f7d9f-f45b-4e8a-8b62-78c2269d0d11",
      "name": "Enviar CSV"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  area,\n  ROUND(reading::numeric,2) AS kwh,\n  ROUND(ema::numeric,2)     AS ema,\n  severity\nFROM energy_history\nWHERE (area, timestamp) IN (\n  SELECT area, MAX(timestamp) FROM energy_history GROUP BY area\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        736
      ],
      "id": "8b908086-ae41-423e-81c9-f1f0ace11f58",
      "name": "Contexto BD para IA",
      "credentials": {
        "postgres": {
          "id": "95gB8C5UUHd1h0BA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst userMsg = $('Normalizar Input').first().json.text.replace('/ai','').trim();\n\nconst contextStr = rows.map(r => `${r.area}: ${r.kwh} kWh (EMA: ${r.ema}, Estado: ${r.severity})`).join(', ');\n\nreturn [{ json: { prompt: userMsg, context: contextStr, chat_id: $('Normalizar Input').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        736
      ],
      "id": "2213934a-0ce0-4d77-a296-b6d1605082f2",
      "name": "Preparar Prompt IA"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt || 'Dame un resumen del sistema' }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un experto en gestión energética de edificios universitarios. Tienes acceso a datos en tiempo real del sistema:\\n\\nESTADO ACTUAL: {{ $json.context }}\\n\\nResponde de forma concisa, profesional y en español. Máximo 3 párrafos. Si detectas algo crítico, menciona 'ACCIÓN URGENTE'."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1232,
        736
      ],
      "id": "968dbf72-597f-4c58-bad1-a3eba9eee850",
      "name": "Chat IA con Contexto"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1232,
        912
      ],
      "id": "95d432af-4b95-4c9a-b1b9-34256e38f2f9",
      "name": "Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5kI0fspE9szXgm6q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Preparar Prompt IA').first().json.chat_id }}"
            },
            {
              "name": "text",
              "value": "=🤖 <b>ASISTENTE IA — GEMINI</b>\\n━━━━━━━━━━━━━━━━━━━━\\n\\n{{ $json.text || $json.output }}\\n\\n🤖 <i>Analizado por Google Gemini Pro</i>"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'⬅️ Menú', callback_data:'/start'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        736
      ],
      "id": "58e9335c-7c04-4e30-ba15-ce357f012f60",
      "name": "Enviar Respuesta IA"
    },
    {
      "parameters": {
        "jsCode": "// Procesar callbacks de acción operativa\nconst text = $('Normalizar Input').first().json.text || '';\nconst chat_id = $('Normalizar Input').first().json.chat_id;\n\nlet accion = '';\nlet area = '';\nlet tipo_feedback = '';\n\n// Restore energy: restore_{area}\nif (text.startsWith('restore_')) {\n  area = text.replace('restore_', '');\n  accion = 'restaurar_energia';\n}\n// Cut energy: cut_{area}\nelse if (text.startsWith('cut_')) {\n  area = text.replace('cut_', '');\n  accion = 'cortar_energia';\n}\n// Feedback: feedback_resuelto_{area} or feedback_falso_{area}\nelse if (text.startsWith('feedback_resuelto_')) {\n  area = text.replace('feedback_resuelto_', '');\n  tipo_feedback = 'resuelto';\n}\nelse if (text.startsWith('feedback_falso_')) {\n  area = text.replace('feedback_falso_', '');\n  tipo_feedback = 'falso_positivo';\n}\n\nreturn [{ json: { chat_id, area, accion, tipo_feedback, original_text: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1344
      ],
      "id": "99a24a3e-aede-4167-8917-0a65746dfaf8",
      "name": "Parsear Acción Operativa"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ac1",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Relay Control"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ac2",
                    "leftValue": "={{ $json.tipo_feedback }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Feedback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1024,
        1344
      ],
      "id": "bac2a011-854e-4def-b01d-678b9d3b4c0e",
      "name": "Switch Acción"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://dashboard:8000/api/relays",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ area: $json.area, accion: $json.accion, motivo: 'Operador via Telegram', origen: 'telegram' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        1216
      ],
      "id": "000cdff1-5b77-4bdd-a81f-fa416191923b",
      "name": "Control Relé API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Parsear Acción Operativa').first().json.chat_id }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "=✅ <b>Acción ejecutada</b>\n📍 Área: <b>{{ $('Parsear Acción Operativa').first().json.area }}</b>\n⚡ Acción: <b>{{ $('Parsear Acción Operativa').first().json.accion }}</b>\n🤖 <i>Relé actualizado correctamente</i>"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'📊 Ver Estado', callback_data:'get_status'}, {text:'⬅️ Menú', callback_data:'/start'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        1216
      ],
      "id": "9c847260-55b1-401f-9a1d-2435def9cb5a",
      "name": "Confirmar Relay Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://dashboard:8000/api/feedback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ usuario: 'telegram_operator', tipo: $json.tipo_feedback, comentario: `Feedback para ${$json.area}` }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        1456
      ],
      "id": "6a9903e5-a2cd-4498-97e6-2d8890b5bf48",
      "name": "Guardar Feedback API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Parsear Acción Operativa').first().json.chat_id }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "=📝 <b>Feedback registrado</b>\n📍 Área: <b>{{ $('Parsear Acción Operativa').first().json.area }}</b>\n🏷️ Tipo: <b>{{ $('Parsear Acción Operativa').first().json.tipo_feedback }}</b>\n\n✅ Gracias por tu retroalimentación. Esto ayuda a mejorar los umbrales de detección."
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ inline_keyboard: [[{text:'⬅️ Menú', callback_data:'/start'}]] }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        1456
      ],
      "id": "701f8631-b5a6-4c78-8892-3712cc7149b8",
      "name": "Confirmar Feedback Telegram"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Router Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Principal": {
      "main": [
        [
          {
            "node": "Enviar Menú Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Reporte 24h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Status Áreas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Anomalías",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datos para Predicción",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contexto BD para IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datos para Exportar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parsear Acción Operativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Reporte 24h": {
      "main": [
        [
          {
            "node": "Formatear Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Reporte": {
      "main": [
        [
          {
            "node": "Enviar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Status Áreas": {
      "main": [
        [
          {
            "node": "Formatear Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Status": {
      "main": [
        [
          {
            "node": "Enviar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Anomalías": {
      "main": [
        [
          {
            "node": "Formatear Anomalías",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Anomalías": {
      "main": [
        [
          {
            "node": "Enviar Anomalías",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos para Predicción": {
      "main": [
        [
          {
            "node": "LLM Predicción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Predicción": {
      "main": [
        [
          {
            "node": "Formatear Predicción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Predicción": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Predicción",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Predicción": {
      "main": [
        [
          {
            "node": "Enviar Predicción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos para Exportar": {
      "main": [
        [
          {
            "node": "Generar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar CSV": {
      "main": [
        [
          {
            "node": "Enviar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto BD para IA": {
      "main": [
        [
          {
            "node": "Preparar Prompt IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt IA": {
      "main": [
        [
          {
            "node": "Chat IA con Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat IA con Contexto": {
      "main": [
        [
          {
            "node": "Enviar Respuesta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chat IA con Contexto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Acción Operativa": {
      "main": [
        [
          {
            "node": "Switch Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Acción": {
      "main": [
        [
          {
            "node": "Control Relé API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Feedback API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Relé API": {
      "main": [
        [
          {
            "node": "Confirmar Relay Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Feedback API": {
      "main": [
        [
          {
            "node": "Confirmar Feedback Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Menú Principal": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "deac4f5b-a616-455f-bb62-5e4c930001ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "702eb394707c81656d9b2dd11f9fbd9990280d4e9ae9cafef5221f507e0f126f"
  },
  "id": "mY9zvyiNEuRy4QYF",
  "tags": [
    {
      "updatedAt": "2026-03-01T19:06:59.742Z",
      "createdAt": "2026-03-01T19:06:59.742Z",
      "id": "xEtn9exZ5QOwNC7J",
      "name": "bot"
    }
  ]
}